<div class="container">
  <div class="black-bg" *ngIf="isMobile"></div>
  <div class="divider"></div>
  <div class="image-bg">
    <img [src]="environment.bucket + 'bg/institucional/institucional-bg-secao-5.png'" />
  </div>
  <div class="right-side">
    <p class="right-text">Automobilismo, vôlei, basquete, tênis,
      skate, surf e dezenas de outras modalidades esportivas também<br>
      estão na Multi+</p>
    <img class="logo-bandsports" [src]="environment.bucket + 'logos/institucional/bandsports.svg'" />
    <img class="logo-off" [src]="environment.bucket + 'logos/institucional/off.svg'" />
    <img class="logo-espn" [src]="environment.bucket + 'logos/institucional/espn.svg'" />
  </div>
</div>
