@import '../../../../themes/remc.scss';

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: remc(32);
  height: remc(32);
  border: 1px solid #fff;
  // background-color: #3D3D3F;
  border-radius: 50%;
  margin: 0 remc(8);
  cursor: pointer;
  transition: all 0.4s;
  &.request{
    opacity: .4;
    pointer-events: none;
  }
  &:hover {
    transform: scale(1.2);
  }
  img {
    width: remc(12);
    height: remc(14);
  }
}
