<div class="container">
  <div class="background"></div>
  <div class="title">
    <h2>Vantagens em ter Watch!</h2>
  </div>
  <div class="cards">
    <div class="card">
      <img [src]="environment.bucket + 'icons/icon_01.png'">
      <p>+ de 30.000 horas* de séries, filmes, realities, desenhos animados e muito mais.</p> <br />
      <p class="warning-text">*As horas podem sofrer alterações conforme o plano escolhido pelo seu provedor.</p>
    </div>
    <div class="card">
      <img [src]="environment.bucket + 'icons/icon_02.png'">
      <p>Possibilidade de assistir em 8 perfis e até 4 telas simultâneas.</p>
    </div>
    <div class="card">
      <img [src]="environment.bucket + 'icons/icon_04.png'">
      <p>Aluguel de filmes recém-lançados no cinema de forma prática.</p>
    </div>
    <div class="card">
      <img [src]="environment.bucket + 'icons/icon_05.png'">
      <p>Perfil Kids com controle parental.</p>
    </div>
  </div>
</div>
