<div class="container">
  <h2 class="center">TERMOS DE USO E PRIVACIDADE</h2>
  <div>
      <p>Bem-vindo aos termos de uso e privacidade da MULTI+ e WATCH</p> <br><br>

      <p>Primeiramente, é importante informar que os serviços prestados pela MULTI+, são desenvolvidos e
          oferecidos a você pela WATCH, criadora da plataforma e responsável pelo conteúdo, funcionalidades e recursos
          nela existentes.</p> <br>

      <p>Portanto, estes termos são válidos entre você USUÁRIO, a MULTI+ e a WATCH e servem para orientá-lo
          sobre o uso do site, do respectivo aplicativo móvel, das funcionalidades e recursos, bem como sobre seus
          direitos e obrigações decorrentes do seu contrato. </p> <br>

      <p>Lembramos que estes termos deverão ser respeitados por todos visitantes e usuários. Toda vez que você
          acessar, navegar ou utilizar o serviço MULTI+, você estará automaticamente de acordo com os termos de uso
          que integra o Contrato celebrado conosco. </p> <br>

      <p>Os presentes termos e condições de uso regem o uso da Plataforma <b>MULTI+</b> pelo <b>USUÁRIO</b>
          que
          declara e concorda expressamente que o presente contrato se formaliza, vinculando as partes, com a sua
          aceitação eletrônica, mediante o clique no botão “Aceito os Termos de Uso” e que leu e está ciente e de
          pleno
          acordo com todos os termos e condições do presente contrato, razão pela qual o aceita de livre e espontânea
          vontade.</p> <br>

      <p>Integram os presentes TERMOS DE USO todos os avisos, regulamentos de uso, contrato e instruções levados ao
          conhecimento dos usuários e visitantes pela MULTI+ e pela WATCH</p> <br>

      <br>

      <p style="text-align:center"> <b>GLOSSÁRIO</b></p> <br><br>

      <p>Para facilitar a compreensão deste Termo de Uso e Privacidade, devem ser considerados os seguintes conceitos:
      </p> <br>

      <b>Login: </b> Nome de usuário escolhido pelo visitante quando preenche o cadastro para acesso a
      funcionalidades
      exclusivas do portal. <br> <br>

      <b>Logon:</b> Ato de o visitante cadastrado ingressar na área restrita do portal utilizando login e senha.
      <br> <br>

      <b>Logs:</b> Registros de atividades do visitante efetuadas no portal. <br> <br>

      <b>Senha:</b> Conjunto de caracteres que serve como prova de identidade digital do usuário, cujo
      conhecimento deve
      ser exclusivo e único. <br> <br>

      <b>Conta:</b> Credencial de um usuário cadastrado que permite o acesso à área restrita e às funcionalidades
      exclusivas, que é definida por nome de usuário (login) e senha. <br> <br>

      <b>Layout:</b> Conjunto compreendido entre aparência, design e fluxos do site. <br> <br>

      <b>Link:</b> Terminologia para endereço de Internet. <br> <br>

      <b>Webmastering:</b>
      Compreende criação, programação, desenvolvimento, controle e disponibilidade de páginas de Internet.<br><br>

      <b>Cookies:</b>
      Um cookie é um arquivo pequeno que contém uma sequência de caracteres. Ele é enviado para seu computador quando
      você visita um site. Quando você acessa o site novamente, o cookie permite que o site reconheça seu navegador.
      Os cookies podem armazenar as preferências do usuário e outras informações. É possível configurar seu navegador
      para recusar todos os cookies ou avisar quando um cookie estiver sendo enviado. No entanto, alguns recursos ou
      serviços do site podem não funcionar adequadamente sem cookies.<br><br>

      <b>Serviço:</b>
      O serviço permitirá a você acessar o conteúdo digital através de uma assinatura, durante o tempo limitado do
      período da assinatura.<br><br>

      <b>Usuário:</b>
      Qualquer pessoa física com 18 anos completos ou pessoa física legalmente capaz de praticar os atos da vida civil
      (emancipada) que acesse a área restrita do site ou do aplicativo, mediante uma conta de acesso.<br><br>

      <b>Dado pessoal:</b>
      Informação relacionada a pessoa natural identificada ou identificável.<br><br>

      <b>Base legal para coleta de dados pessoais:</b>
      fundamento legal que permite a coleta e tratamento de dados pessoais, nos termos da legislação.<br><br>

      <b>Consentimento expresso:</b>
      manifestação livre, informada e inequívoca pela qual o titular concorda com o tratamento de seus dados pessoais
      para uma finalidade determinada.<br><br>

      <b>Finalidade:</b>
      realização do tratamento para propósitos legítimos, específicos, explícitos e informados ao titular.<br><br>

      <b>Combo:</b>
      conjunto promocional de Recursos oferecidos pela MULTI+, cada qual composto de produtos
      específicos.<br><br>

      <b>Oferta:</b>
      Forma de disponibilização dos Planos aos USUÁRIOS com periodicidade, valores e demais características
      especificadas aos USUÁRIOS previamente à contratação.<br><br>

      <b>Plano:</b>
      significa os Planos de Assinatura, os Planos Avulsos ou os Planos por Consumo.<br><br>

      <b>Plano Avulso:</b>
      Recursos comercializados pela MULTI+ de forma não recorrente, sob demanda do USUÁRIO, conforme
      características específicas descritas na Oferta ou informado no ato da contratação.<br><br>

      <b>Plano de Assinatura:</b>
      Recursos comercializados pela MULTI+ com periodicidade mensal, trimestral, semestral ou anual (ou outro
      período recorrente definido na Oferta), conforme características específicas descritas na Oferta ou informado no
      ato da contratação.<br><br>

      <b>Plano por Consumo:</b>
      Recursos comercializados pela MULTI+ tarifados por hora ou volume, dependendo da demanda do USUÁRIO e
      modalidade contratada, conforme características específicas descritas na Oferta ou informado no ato da
      contratação.<br><br>

      <b>Portal Multimais:</b>
      designa o endereço eletrônico da MULTI+ e seus subdomínios, por meio do qual o USUÁRIO pode adquirir os
      Recursos.<br><br>

      <b>Recursos:</b>
      serviços, conteúdos, produtos e/ou licenças comercializados pela MULTI+, os quais possuem termos de uso
      específicos. Os Recursos podem ser de propriedade de terceiros, sendo oferecidos aos USUÁRIOS por intermédio do
      MULTI+.<br><br>

      <b>Multimais:</b>
      Multimais INDUSTRIAL S.A., pessoa jurídica de direito privado, inscrita no CNPJ nº 59.717.553/0001-02, com sede
      e foro na cidade de São Paulo, Estado de São Paulo na Avenida Brigadeiro Faria Lima, 1.811, 15º Andar, Jardim
      América, São Paulo/SP, CEP 01452-000.<br><br>

      <b>OVER THE TOP (OTT):</b>
      Representa qualquer conteúdo que é veiculado diretamente para os espectadores por
      meio de um serviço de streaming de vídeo pela Internet, através de dispositivos eletrônicos. <br><br>

      <b>VIDEO ON DEMAND (VOD):</b>
      Conceito implementado por sistemas que permitem ao usuário selecionar e assistir conteúdo de vídeo sobre uma
      rede como parte de um sistema de TV interativo. Podem ser em streaming, no qual o vídeo é imediatamente
      executado à medida que os pacotes de dados referentes ao conteúdo chegam através da rede, ou baixados (download)
      inteiramente para após serem visualizados.<br><br>

      <b>SUBSCRIPTION VIDEO ON DEMAND (SVOD):</b>
      Termo utilizado para especificar qualquer conteúdo que pode ser acessado pelos consumidores que se inscreveram
      para a assinatura de um serviço específico, permitindo visualizações ilimitadas por uma taxa fixa
      mensal.<br><br>

      <b>TRANSACTIONAL VIDEO ON DEMAND (TVOD):</b>
      termo utilizado para especificar o aluguel de qualquer conteúdo que é comprado por meio de um modelo
      pay-per-view.
      Os espectadores podem comprar o conteúdo para visualização repetida ou alugá-lo para um uso único.<br><br>

      <b>TRATAMENTO DE DADOS PESSOAIS:</b>
      toda operação realizada com dados pessoais, como as que se referem a
      coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição,
      processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação,
      modificação, comunicação, transferência, difusão ou extração <br><br>

      <b>CANAIS LINEARES:</b>
      Considera-se canais lineares aqueles de programação 24 horas por dia, 7 dias por semana, seguindo uma
      programação definida e que não pode ser alterada.<br><br>

      <b>SERVIÇO DE VALOR ADICIONADO (SVA):</b>
      Trata-se de modalidade de serviço implementado no plano contratado de telecomunicações – principalmente a
      internet oferecida por provedores.<br><br>

      <b>FORNECEDORES:</b>
      empresas, canais, produtoras, plataformas, dos quais a MULTI+ tem parcerias.<br><br>

      <b>MULTIPLICADORES:</b>
      Definição dos parceiros da Multimais (Pessoa Física ou Jurídica) que oferta serviços e produtos da
      Multimais.<br><br><br>

      <p style="text-align:center"> <b>OBJETO</b> </p><br><br>

      <p class="negative-indent"> <b>1.1.</b> &nbsp; Através do site e aplicativo móvel, a Multimais em parceria com
          a WATCH
          TV ENTRETENIMENTOS S/A.
          (“WATCH”), disponibilizará o acesso à plataforma MULTI+ (“Plataforma”) e ao conteúdo digital
          disponível na e/ou compatível com a Plataforma (“Conteúdo”), o qual pode ser adquirido separadamente
          pelo USUÁRIO diretamente pela Plataforma ou mediante Ofertas disponibilizadas pela Multimais.</p> <br>

      <p class="negative-indent"> <b>1.2.</b> &nbsp; A Plataforma funciona como uma central de Video On Demand (VOD),
          permitindo ao USUÁRIO acessar e
          consumir de um único lugar os planos de assinatura e/ou acesso por meio da modalidade Transactional
          Video On Demand (TVOD), a diversos conteúdos, como filmes digitais e outros conteúdos de vídeo,
          alocados em de um catálogo de títulos, para visualização durante o período de sua assinatura. Dessa forma,
          o Conteúdo na Plataforma pode variar dependendo da disponibilidade na plataforma.
      </p> <br>

      <p class="negative-indent"><b>1.3.</b> &nbsp; Para acessar o Conteúdo via Plataforma é necessário que sua
          aquisição
          tenha ocorrido por
          intermédio da
          Multimais e seus multiplicadores. Dessa forma, caso o USUÁRIO tenha adquirido Conteúdo diretamente
          do Fornecedor ou por intermédio de outras empresas que não a Multimais, não será possível visualizá-lo pela
          Plataforma.</p> <br>
      <p class="negative-indent"><b>1.4.</b> &nbsp; Determinados Conteúdos e o funcionamento da Plataforma são regidos
          pela
          WATCH, conforme
          instruções
          disponíveis em <a href=" https://watch.tv.br/termos-e-privacidade"> <b> <u>
                      https://watch.tv.br/termos-e-privacidade </u> </b> </a>. </p> <br>

      <div class="negative-indent">
          <p class="negative-indent"><b>1.4.1.</b> Todos os Conteúdos disponibilizados na Plataforma são de
              responsabilidade única e exclusiva dos
              respectivos Fornecedores, cabendo a WATCH prover a Plataforma onde os Conteúdos são
              disponibilizados. O suporte ao USUÁRIO será realizado pela Multimais em conjunto com a WATCH
              no que a ela couber. </p>
      </div>

      <br><br>

      <p style="text-align:center"> <b>DAS CONDIÇÕES DE ACESSO E DISPONIBILIDADE DO CONTEÚDO</b></p><br><br>

      <p class="negative-indent"><b>2.1.</b> A disponibilidade do Conteúdo e sua forma de visualização na Plataforma
          dependem das regras
          estabelecidas pelos Fornecedores.</p> <br>

      <div class="negative-indent">
          <p class="negative-indent"><b>2.2.1.</b> O Usuário também poderá consumir o Conteúdo na forma de aluguel,
              que permite, mediante o
              pagamento de valores específicos, alugar Conteúdos disponíveis no catálogo. O aluguel consiste em
              disponibilizar o Conteúdo para visualizações ilimitadas por determinado período (estipulado na
              Plataforma), contado a partir de sua aquisição pelo Usuário. Todas as operações de aluguel são
              definitivas, não sendo admitida qualquer desistência ou devolução de valores já pagos.</p> <br>
      </div>

      <p class="negative-indent"><b>2.2.</b> &nbsp; O Usuário declara estar ciente e de acordo com as condições e
          requisitos
          de compatibilidade para
          acesso à
          Plataforma disponível em multimais.tv, o que inclui, mas não se limita a, sistemas operacionais e
          navegadores (browsers) compatíveis, responsabilizando-se caso pretenda acessar a Plataforma de
          dispositivos que não cumpram esses requisitos.</p> <br>

      <p class="negative-indent"><b>2.3.</b> &nbsp; Dada as particularidades dos contratos que regem a
          disponibilização do
          Conteúdo da Plataforma,
          NÃO é
          garantida a manutenção nem a disponibilidade imediata de nenhum Conteúdo específico que componha o
          acervo da Plataforma. A disponibilidade dos Conteúdos se dará de acordo com as regras estabelecidas pelos
          Fornecedores, conforme previsto nos respectivos Termos de Uso e Políticas de Privacidade aplicáveis, com
          os quais o USUÁRIO deve ler e concordar antes de utilizar a Plataforma.</p> <br>

      <div class="negative-indent">
          <p class="negative-indent"><b>2.3.1.</b> &nbsp; O USUÁRIO desde já se declara ciente e concorda que cabe
              única e
              exclusivamente aos
              Fornecedores
              determinar a inclusão ou exclusão desses Conteúdos na Plataforma, eximindo e isentando a
              Multimais de qualquer responsabilidade nesse sentido.</p> <br>
      </div>

      <p class="negative-indent"><b>2.4.</b> &nbsp; Os Fornecedores poderão impor restrições na Plataforma, como
          geoblocking,
          dessa forma certos
          Conteúdos somente podem ser acessados se o USUÁRIO estiver fisicamente no Território Nacional. O
          USUÁRIO desde já se declara ciente dessa restrição, isentando o Multimais e os Fornecedores de
          qualquer alegação de impossibilidade de acessar determinado Conteúdo em decorrência dessa
          funcionalidade.</p> <br>

      <div class="negative-indent">
          <p class="negative-indent"><b>2.4.1.</b> O USUÁRIO se compromete a não utilizar qualquer ferramenta com o
              intuito de burlar as
              restrições de
              geoblocking, o que inclui, mas não se limita a, o uso de VPNs, se declarando ciente de que a Multimais
              e/ou os Fornecedores poderão adotar as medidas que entenderem cabíveis para cessar esse uso não
              autorizado da Plataforma, inclusive com o cancelamento imediato da conta do USUÁRIO.</p> <br>
      </div>

      <p class="negative-indent"><b>2.5.</b> &nbsp; Em decorrência de questões operacionais e de fornecimento de
          internet
          provido pelo provedor de
          internet
          de cada usuário, os acessos à Plataforma estão sujeitos a eventuais problemas de interrupção, falha técnica
          ou indisponibilidade de funcionamento temporário. Quando for razoavelmente possível a Multimais e a
          WATCH comunicarão previamente as interrupções programadas da Plataforma ao USUÁRIO.</p> <br>

      <p class="negative-indent"><b>2.6.</b> &nbsp; O USUÁRIO se obriga a não utilizar a Plataforma e seus Conteúdos
          de forma
          nociva aos direitos e
          interesses
          da Multimais, da WATCH, de fornecedores e terceiros, ou de qualquer forma que possa vir a causar dano,
          sobrecarregar, inutilizar ou impedir a normal utilização da Plataforma ou seus Conteúdos.
      </p> <br>

      <p class="negative-indent"><b>2.7.</b> &nbsp; O USUÁRIO se declara ciente que a Multimais, a WATCH e os
          Fornecedores
          envidam os melhores
          esforços para fornecer o Conteúdo na melhor qualidade de transmissão possível, porém sua visualização
          pelo USUÁRIO depende de diversos fatores externos a Multimais, WATCH e Fornecedores, tais como o
          tipo de dispositivo no qual o USUÁRIO está visualizando o Conteúdo e a velocidade de sua conexão. Cabe
          ao USUÁRIO verificar se possui todos os requisitos necessários para visualizar o Conteúdo na qualidade
          pretendida/contratada.</p> <br>

      <p class="negative-indent"><b>2.8.</b> Os Usuários e Visitantes se comprometem a não: <br><br>

          i. transferir, copiar ou exibir o Conteúdo; <br>
          ii. vender, alugar, conceder, distribuir ou transmitir qualquer direito ao Conteúdo; <br>
          iii. remover qualquer aviso de propriedade intelectual ou etiqueta do Conteúdo; <br>
          iv. tentar desabilitar, evitar, modificar, frustrar ou de outra forma lograr qualquer gestão de direito
          digital ou outro sistema de proteção de Conteúdo; <br>
          v. usar a Plataforma ou Conteúdo para qualquer propósito comercial ou ilegal. <br>
          vi. Acessar as áreas de programação do aplicativo móvel, seus bancos de dados ou qualquer conjunto
          de informações que faça parte da atividade de webmastering, ficando sujeito quem o fizer à
          legislação penal brasileira e obrigado a reparar os danos que causar.</p> <br>

      <p class="negative-indent"> <b>2.9.</b> &nbsp; O Usuário se compromete a manter suas informações e dados
          cadastrais
          atualizados e corretos,
          sendo o
          único e exclusivo responsável pela sua veracidade. O uso de suas informações e dados cadastrais em
          desconformidade com o disposto nestes Termos de Uso é de exclusiva responsabilidade do Usuário,
          isentando a Multimais e a WATCH de qualquer responsabilidade nesse sentido.
      </p> <br>

      <p class="negative-indent"> <b>2.10.</b> Quando um Usuário utiliza a plataforma MULTI+, serão coletados
          alguns dados pessoais,
          como
          o nome e o histórico de conteúdos acessados. Além disso, iremos monitorar os acessos ao aplicativo para
          garantir o uso dos serviços dentro dos parâmetros legais. Esses dados são destinados a formar um banco
          de dados das preferências do usuário e visam uma melhor experiência/histórico/sugestão de consumo de
          conteúdo ao próprio usuário.</p> <br>

      <p class="negative-indent"> <b>2.11.</b> Assim, ao utilizar e acessar a plataforma MULTI+, coletamos
          seus dados pessoais para poder prestar um serviço de alta qualidade e oferecer uma ótima experiência.
          Coletamos apenas os dados necessários para:</p>
      <p><br>
      </p>
      <div class="horizontal-table">
          <table style="text-align:center">
              <thead>
                  <tr>
                      <td> <b>Atividade de Tratamento</b></td>
                      <td> <b>Dados pessoais</b></td>
                      <td> <b>Finalidade</b></td>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Disponibilizar o acesso a
                          plataforma para você</td>
                      <td>Nome e e-mail
                          Informações Pessoais; CPF;
                          Data de Nascimento; País,
                          CEP, Endereço de Cobrança
                          Completo</td>
                      <td>Esses são os dados necessários para disponibilizar o
                          serviço, incluindo todas as etapas deste processo
                          (Identificação, autenticação e verificação de
                          requisitos para compra online e autenticação de
                          transações financeiras).
                          Direcionamento de conteúdos por faixa etária e
                          localidade.</td>

                  <tr>
                      <td>Oferecer comunicações
                          personalizadas</td>
                      <td>E-mail </td>
                      <td>Coletamos o seu e-mail mediante o seu
                          consentimento expresso para enviar comunicações
                          direcionadas de marketing, prospecção, pesquisas
                          de mercado, de opinião e promoção dos nossos
                          produtos e serviços, inclusive com viabilização de
                          ofertas e envio de informações sobre produtos,
                          serviços, novidades, funcionalidades, conteúdos,
                          notícias e demais eventos relevantes para a
                          manutenção do relacionamento com você.</td>

                  <tr>
                      <td>Oferecer serviços personalizados</td>
                      <td>Histórico de Conteúdos
                          acessados e logs de acesso
                          com data e horários de cada
                          acesso</td>
                      <td>1) Sugestão de conteúdos personalizados e o ajuste
                          da experiência do usuário quanto a interfaces web e
                          mobile da plataforma <br>
                          2) Utilização dos dados em investigações de fraudes
                          ou de alterações indevidas no sistema da Multimais <br>
                          3) Cumprimento de obrigações legais e regulatórias
                          (Art. 15 da Lei nº 12.965 -Marco civil da Internet) <br>
                  </tr>
              </tbody>
          </table><br>
      </div>

      <p class="negative-indent"> <b>2.12.</b> Respeitando todos os níveis de segurança e demais preceitos da
          Política de Privacidade da MULTI+ e da WATCH, os dados coletados serão compartilhados entre Multimais e
          WATCH, detentora dos direitos de transmissão dos conteúdos e parceira comercial da Multimais.</p> <br>

      <p class="negative-indent"> <b>2.13.</b> Ainda, respeitando os limites legais, e dentro das finalidades acima
          expostas, as controladoras
          conjuntas
          poderão compartilhar os dados obtidos para viabilizar alguma das atividades descritas neste termo. O
          compartilhamento dos seus dados poderá ser feito com parceiros de negócio e com autoridades e órgãos
          reguladores, quando necessário para: <br> <br>
          <b>a)</b> Aprimoramento dos nossos serviços <br>
          <b>b)</b> Auxílio no desenvolvimento de novas funcionalidades das nossas plataformas <br>
          <b>c)</b> Transação financeira para realização de pagamento do pedido <br>
          <b>d)</b> Envio de comunicações e Marketing <br>
          <b>e)</b> Prevenção e resolução de problemas técnicos ou de segurança <br>
          <b>f)</b> Exercício regular de direitos da Multimais e Watch <br>
          <b>g)</b> Cumprimento de ordem judicial, de autoridade competente ou de órgão fiscalizador
          Cumprimento de obrigação legal ou regulatória <br>
      </p> <br>

      <p class="negative-indent"> <b>2.14.</b> E Com relação ao item ´b´, as controladoras esclarecem que realizarão
          um controle rígido para contratar empresas e consultores externos, ressaltando que, no caso da contratação
          destes parceiros,
          realizará uma análise prévia a respeito das políticas de governança e dos níveis de segurança da base de
          dados do novo parceiro comercial.</p> <br>

      <p class="negative-indent"> <b>2.15.</b> A WATCH e Multimais não coletam intencionalmente dados de crianças e
          adolescentes, fornecendo
          o
          acesso ao aplicativo móvel para Usuários que possuam 18 anos ou mais. Caso você suspeite que qualquer
          dado pessoal de uma criança ou adolescente foi coletado sem o consentimento expresso dos responsáveis,
          solicitamos que entre em contato via e-mail para <a href="mailto:privacidade@multilaser.com.br"> <b> <u>
                      privacidade@multilaser.com.br </u> </b> </a> e
          <a href="mailto:privacidade@watch.tv.br"> <b> <u> privacidade@watch.tv.br </u> </b> </a>, solicitando a exclusão
          imediata destes dados.
      </p> <br>

      <p class="negative-indent"><b>2.16.</b> A partir da entrada em vigor da LGPD, você, como titular de dados
          pessoais, pode exercer seus
          direitos
          frente aos controladores dos seus dados pessoais. Nós disponibilizamos os mecanismos detalhados abaixo
          para que você entenda de forma clara e transparente quais são seus direitos e como pode exercê-los. Nossa
          equipe estará pronta para atender eventuais solicitações. Armazenaremos os seus dados pelo tempo
          necessário para atender as finalidades de tratamento estabelecidas neste termo. <br> <br>
          <b>Seus direitos:</b> <br> <br>
          ● Confirmação da existência de tratamento de dados pessoais <br>
          ● Acesso aos dados pessoais <br>
          ● Correção de dados pessoais incompletos, inexatos ou desatualizados <br>
          ● Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em
          desconformidade com a LGPD <br>
          ● Eliminação dos dados pessoais tratados com o consentimento <br>
          ● Informação das empresas que compartilhamos seus dados <br>
          ● Revogação do consentimento e possibilidade de não fornecimento do consentimento. <br>
          ● Informações sobre processos que envolvam Decisão Automatizada <br>
          ● Direito de Portabilidade <br><br>
          Para exercer seus Direitos envie um e-mail para <a href="mailto:privacidade@multilaser.com.br"> <b> <u>
                      privacidade@multilaser.com.br </u> </b> </a> e <a href="mailto:privacidade@watch.tv.br"> <b> <u>
                      privacidade@watch.tv.br </u> </b> </a>. <br> <br>
          Para atender sua demanda, podemos solicitar algumas informações complementares para fins de comprovação
          da sua identidade, buscando impedir fraudes. Fazemos isso para garantir a segurança e a privacidade.
      </p>
      <br>

      <p class="negative-indent"> <b>2.17.</b> Todos os dados pessoais coletados serão armazenados na base de dados
          interna da Multimais e da
          WATCH, ou na “nuvem”. As bases de dados da Multimais e da WATCH e de eventuais parceiros que
          venham a ter acesso aos dados pessoais dos Usuários são protegidas por diversos procedimentos de
          segurança, de modo que a confidencialidade e a integridade dos dados sejam protegidas.</p> <br>

      <p class="negative-indent"><b>2.18.</b> Todavia, ainda que a Multimais e a WATCH adotem diversas medidas de
          segurança, o usuário está
          plenamente ciente de que podem ocorrer falhas físicas ou remotas de segurança, o que pode comprometer
          a integridade e confidencialidade dos dados pessoais. Assim, a Multimais e a WATCH não garantem,
          expressa ou implicitamente, que evitará totalmente o acesso não autorizado a tais informações.</p> <br>

      <p class="negative-indent"><b>2.19.</b> Vale lembrar que sua conta de acesso, login e senha, são de uso pessoal
          e que a navegação é de
          sua inteira
          responsabilidade. A Multimais não se responsabiliza pelos atos praticados por seus visitantes e usuários
          no ambiente oferecido pelo aplicativo móvel, devendo cada um ser imputado de acordo com a qualidade
          do uso da plataforma.</p> <br>

      <p class="negative-indent"><b>2.20.</b> Os dados pessoais fornecidos pelos usuários poderão ser transferidos
          internacionalmente, uma vez
          que os
          servidores de nossa plataforma estão localizados em outros países.</p> <br>

      <br>

      <p style="text-align:center"><b>DA PROPRIEDADE INTELECTUAL E DIREITO AUTORAL</b></p><br><br>

      <p class="negative-indent"><b>3.1.</b> &nbsp; É vedado o compartilhamento do acesso ao Conteúdo por qualquer
          meio, sob
          pena das sanções penais
          e
          civis cabíveis, além de rescisão contratual sem nenhuma devolução de valores, créditos ou indenização.
      </p> <br>

      <p class="negative-indent"><b>3.2.</b> &nbsp; O Conteúdo poderá ser atualizado ou modificado periodicamente
          conforme definido pelos Fornecedores, não possuindo a Multimais qualquer tipo de gerência, bem como não
          podendo
          ser entendidos que os Conteúdos serão disponibilizados de forma definitiva.</p> <br>

      <p class="negative-indent"><b>3.3.</b> &nbsp; Os textos, fotografias, imagens, logomarcas e Conteúdos
          disponíveis na
          Plataforma se encontram
          protegidos por direitos autorais e de propriedade intelectual. Ao acessar a Plataforma o USUÁRIO declara
          que irá respeitar todos os direitos de propriedade intelectual e autoral, bem como todos os direitos
          referentes a terceiros que porventura estejam, ou estiveram, de alguma forma disponíveis na Plataforma
          e seu respectivo Conteúdo.</p> <br>

      <p class="negative-indent"><b>3.4.</b> &nbsp; O simples acesso à Plataforma não confere ao USUÁRIO qualquer
          direito de
          uso ou reprodução dos
          nomes,
          títulos, palavras, frases, marcas, patentes, obras literárias, artísticas, lítero-musicais, entre outras,
          que nele
          estejam, ou estiveram, disponíveis.</p> <br>

      <p class="negative-indent"><b>3.5.</b> &nbsp;Todas as marcas comerciais incluídas na Plataforma são de
          propriedade da
          Multimais, da WATCH,
          dos
          Fornecedores ou de terceiros autorizados.
      </p> <br>

      <p class="negative-indent"><b>3.6.</b> &nbsp; É vedada a utilização do Conteúdo para finalidades comerciais,
          publicitárias ou qualquer outra
          que
          contrarie a realidade para o qual foi concebido conforme definido neste termo. Restam igualmente
          proibidas a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras, gráficos, marcas e
          Conteúdo que compõem a Plataforma sem prévia e expressa autorização da Multimais, da WATCH, dos
          Fornecedores ou de seus respectivos titulares.
      </p> <br>

      <p class="negative-indent"><b>3.7.</b> &nbsp; O USUÁRIO deverá abster-se de obter desenhos, informações,
          gráficos,
          mensagens, arquivos,
          fotografias,
          gravações, programas, Conteúdos e/ou qualquer outro tipo de material acessível por meio da Plataforma
          empregando meios ou procedimentos diversos daqueles disponibilizados para esse propósito pela
          Multimais.
      </p> <br>

      <p class="negative-indent"><b>3.8.</b> &nbsp; O USUÁRIO se obriga a utilizar o Conteúdo de forma lícita, se
          abstendo de
          copiá-lo, distribuí-lo,
          modificálo ou divulgá-lo ao público através de qualquer modalidade de comunicação, além de eliminar ou
          manipular o copyright ou outros dados que identifiquem os direitos da Multimais, da WATCH ou dos
          Fornecedores, bem como quaisquer mecanismos de informação/proteção presentes na Plataforma e/ou
          nos Conteúdos.</p> <br>

      <br>

      <p style="text-align:center"><b>DA RESPONSABILIDADE DAS PARTES</b></p><br><br>

      <p class="negative-indent"><b>4.1.</b> &nbsp; A Multimais respeita a privacidade de cada USUÁRIO. A Plataforma
          MULTI+ não irá,
          portanto,
          monitorar, editar, acessar ou divulgar informações privativas de seus USUÁRIOS sem autorização prévia,
          exceto nos casos expressamente previstos nos termos da Política de Privacidade ou a menos que sejamos
          obrigados a fazê-lo mediante ordem judicial ou por força de lei.
      </p> <br>

      <p class="negative-indent"><b>4.2.</b> &nbsp; O USUÁRIO assume toda e qualquer responsabilidade, de caráter
          civil e/ou
          criminal, pela sua
          utilização
          indevida das informações, textos, gráficos, marcas, obras, enfim, todo e qualquer direito de propriedade
          intelectual ou industrial do Conteúdo.</p> <br>

      <br>

      <p style="text-align:center"><b>SOBRE A LIBERAÇÃO DO SERVIÇO</b></p><br><br>

      <p class="negative-indent"><b>5.1.</b> &nbsp; O acesso à Plataforma somente será liberado para o USUÁRIO após as
          respectivas confirmações de
          pagamento, exceto em determinados casos de modalidade beta/trial.</p> <br>

      <br>

      <p style="text-align:center"><b>DAS DISPOSIÇÕES GERAIS</b></p><br><br>

      <p class="negative-indent"><b>6.1. </b> &nbsp; Todas as disposições dos Termos e Condições Gerais do Contrato
          aplicam-se ao produto ora
          contratado
          naquilo que não for específico. A Multimais poderá unilateralmente revisar, aprimorar, modificar e/ou
          atualizar, a qualquer momento, qualquer cláusula ou disposição contidas nestes Termos e Condições de
          Uso. A versão atualizada valerá para o uso do site e para as compras realizadas a partir de sua divulgação
          pela Multimais. A continuidade de acesso ou utilização dos serviços, depois da divulgação de quaisquer
          modificações, confirmará a aceitação dos novos Termos e Condições de Uso da plataforma pelo usuário.
          Caso o usuário não esteja de acordo com uma determinada alteração das Políticas ou dos Termos e
          Condições de Uso, poderá rescindir seu vínculo com a MULTILSER por meio de pedido de exclusão do
          cadastro e cancelamento dos serviços.</p> <br>

      <p class="negative-indent"><b>6.2.</b> &nbsp; Caso a Multimais não consiga ou não faça valer ou cumprir
          qualquer cláusula ou condição contida
          nestes
          Termos e Condições de Uso, tal fato não configurará desistência, tolerância ou novação dessa cláusula ou
          condição destes Termos da Multimais. Se alguma cláusula ou condição contida nestes Termos e
          Condições de Uso for declarada inexequível, no todo ou parcialmente, tal inexequibilidade não afetará as
          demais cláusulas dos Termos e Condições de Uso. Neste caso, a Multimais fará as adaptações
          necessárias para que reflitam da forma mais próxima possível, os termos da provisão declarada
          inexequível.</p> <br>

      <br>

      <p style="text-align:center"><b>LEI APLICÁVEL E FORO</b></p><br><br>

      <p class="negative-indent"><b>7.1.</b> Estes Termos de Uso são regidos pelas leis brasileiras vigentes, sendo
          que as Partes renunciam
          expressamente a qualquer outro foro, se submetem ao Foro da Comarca de São Paulo/SP.</p>

  </div>
