@import '../../../../themes/remc.scss';

:host {
  display: flex;

  justify-content: center;
  align-items: center;
  flex: 1;

  padding: remc(146) 0 remc(428) 0;

  .container {
    transition: all 0.2s;

    .screen {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &--profiles {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        padding: remc(12) 0;
        flex-wrap: wrap;

        .profile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: remc(39) remc(36);

          .profile-image {
            height: remc(120);
            width: remc(120);
            img {
              width: 100%;
              height: 100%;
              width: remc(120);
              height: remc(120);
              border-radius: 100%;
            }

            input{
              display: none;
            }
          }

          .profile-name {
            text-align: center;
            margin-top: remc(20);
            color: var(--white);
            font-weight: 500;
            font-size: remc(16);
          }
        }

        @media screen and (max-width: remc(768)) {
          max-width: 450px;

          .profile {
            width: remc(60);
            margin: remc(39) remc(32);

            .profile-image {
              height: remc(60);
              width: remc(60);
              img {
                width: remc(60);
                height: remc(60);
              }
            }
            .profile-name {
              margin-top: remc(7);
            }
          }
        }

        @media screen and (max-width: remc(600)) {
          max-width: 400px;

          .profile {
            width: remc(40);
            margin: remc(30) remc(32);

            .profile-image {
              height: remc(40);
              width: remc(40);
              img {
                width: remc(40);
                height: remc(40);
              }
            }
            .profile-name {
              font-weight: 400;
              font-size: remc(14);
            }
          }
        }
      }
    }

    @media screen and (max-width: remc(768)) {
      padding: remc(21) 0;
    }

    @media screen and (max-width: remc(600)) {
      h3 {
        font-size: remc(18);
      }
    }
  }

  @media screen and (max-width: remc(768)) {
    align-items: flex-start;

    padding: remc(21) 0 remc(428) 0;

    .loading {
      align-self: center;
    }
  }
}
