<div class="content">
<div class="container">
  <div class="texts">
    <h3>Pra você assistir quando e onde quiser!</h3>
    <p>
      As melhores séries, os filmes mais premiados e os canais de televisão mais
      importantes. Todos em um único lugar.
    </p>
  </div>
  <img
    class="devices-img"
    src="assets/bg/institucional-tvs-secao5.png"
  />
  <div class="devices-container">
    <div class="device">
      <img src="assets/icons/player-icon-secao5.svg" />
      <li>4 acessos simultâneos</li>
    </div>
    <div class="device">
      <div>
        <img
          class="phone"
          src="assets/icons/celular-icon-secao5.svg"
        />
        <img src="assets/icons/pc-icon-secao5.svg" />
      </div>
      <li>Até 8 dispositivos conectados</li>
    </div>
  </div>
</div>
<div class="button">
  <app-button [text]="'QUERO MEUS '+daysFree+' DIAS'" routerLink="/login/voucher" [classList]="'btn-gray'"></app-button>
</div>
<div class="line"></div>
</div>

