<div class="section2">
  <div class="texts">
    <div class="title">
      Mais filmes, <br />
      mais séries, <br />
      mais esportes <br />
      e mais canais <br />
      ao vivo
    </div>
    <div class="subtitle">
      Dos filmes clássicos aos mais novos<br>
      campeões de bilheteria. Todos os esportes que você
      curte, dos campeonatos emocionantes aos torneios
      milionários. Notícias do Brasil e do mundo, séries
      aclamadas e os desenhos animados mais queridos.<br>
      <span
        ><strong
          >Tudo isso, você encontra na Multi+:<br>
          uma plataforma completa.</strong
        ></span
      >
    </div>
  </div>
  <div class="img">
    <img [src]="environment.bucket + 'bg/image-3-casa-dragao.png'" />

    <p class="credits">
      © 2022 WarnerMedia Direct Latin America, LLC. Todos os direitos
      reservados. HBO Max é usado sob licença.
    </p>
  </div>
</div>
