@import '../../../../themes/remc.scss';

:host {
  .popup-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    .rent-mobile-popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: remc(312);
      height: remc(208);
      background-color: #7a7a7a;

      h4 {
        padding-right: remc(109);
      }

      p {
        font-size: remc(10);
        color: var(--white);
        width: remc(240);
        padding-top: remc(16);
        padding-bottom: remc(40);
      }
    }
  }
}
