<main class="container">
  <div *ngIf="!isLoading">
    <app-featured-games-banner [data]="pageBanner"></app-featured-games-banner>
    <div *ngFor="let section of highlightData">
      <div [ngSwitch]="section.type">
        <div class="container__section" *ngSwitchCase="'liveCompetitions'">
          <app-sports-section
            [sectionTitle]="section.title"
            [cardProperties]="section.cardProperties"
            [data]="section.data"
          ></app-sports-section>
        </div>
        <div class="container__section" *ngSwitchCase="'competitions'">
          <app-sports-section
            [sectionTitle]="section.title"
            [cardProperties]="section.cardProperties"
            [data]="section.data"
          ></app-sports-section>
        </div>
        <div class="container__section" *ngSwitchCase="'highlights'">
          <app-default-section
            [sectionTitle]="section.title"
            [cardProperties]="section.cardProperties"
            [data]="section.data"
          ></app-default-section>
        </div>
        <div class="container__section" *ngSwitchCase="'suggestions'">
          <app-default-section
            [sectionTitle]="section.title"
            [cardProperties]="section.cardProperties"
            [data]="section.data"
          ></app-default-section>
        </div>
        <div class="container__section" *ngSwitchCase="'isEvent'">
          <app-default-section
            [sectionTitle]="section.title"
            [cardProperties]="section.cardProperties"
            [data]="section.data"
          ></app-default-section>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="skeleton">
    <ngx-skeleton-loader
      class="loader"
      count="1"
      appearance="line"
      animation="pulse"
      [theme]="{
        height: '208px',

        display: 'flex'
      }"
    ></ngx-skeleton-loader>
    <div class="skeleton__sections">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          display: 'block',
          height: '28px',
          width: '300px'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="loader"
        [count]="screen_x > 768 ? 4 : 2"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '208px',

          display: 'flex',

          marginRight: '1rem'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          display: 'block',
          height: '28px',
          width: '300px'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="loader"
        [count]="screen_x > 768 ? 4 : 2"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '208px',

          display: 'flex',

          marginRight: '1rem'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          display: 'block',
          height: '28px',
          width: '300px'
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        class="loader"
        [count]="screen_x > 768 ? 4 : 2"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '208px',

          display: 'flex',

          marginRight: '1rem'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="pulse"
        [theme]="{
          display: 'block',
          height: '28px',
          width: '300px'
        }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
        class="loader"
        [count]="screen_x > 768 ? 4 : 2"
        appearance="line"
        animation="pulse"
        [theme]="{
          height: '208px',

          display: 'flex',

          marginRight: '1rem'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</main>
