<div class="container">
  <div class="menu-theme">
    <div class="title">
      <h2>Acessando a Stingray</h2>
    </div>
  </div>
  <div class="step">
    <h2 class="title">Etapa 1</h2>
    <h3 class="subtitle">Acesse o a Stingray</h3>
    <p class="text">
      Você pode clicar no card Stingray na seção Multi para você.
    </p>
    <img class="image" [src]="environment.bucket + 'stingray/step-one.png'" />
  </div>
  <div class="step">
    <h2 class="title">Etapa 2</h2>
    <h3 class="subtitle">
      Use o mesmo login e senha de acesso à plataforma Multi+
    </h3>
    <p class="text">
      Você não precisa se preocupar em lembrar contas e senhas, o seu acesso HBO
      é seu acesso Multi!
    </p>
    <img class="image" [src]="environment.bucket + 'stingray/step-two.png'" />
  </div>
  <div class="step">
    <h2 class="title">Etapa 3</h2>
    <h3 class="subtitle">
      Preencha os campos com seus dados e se cadastre na Stingray
    </h3>
    <p class="text">
      Este passo só é necessário no seu 1º acesso, nos próximos é só selecionar
      seu perfil!.
    </p>
    <img class="image" [src]="environment.bucket + 'stingray/step-thre.png'" />
  </div>
  <div class="step">
    <h2 class="title">Etapa Final</h2>
    <h3 class="subtitle">
      Parabéns, você acessou a Stingray e pode curtir a vontade
    </h3>
    <p class="text">
      Você pode criar diversos perfis e aproveitar com toda sua família.
    </p>
    <img class="image" [src]="environment.bucket + 'stingray/final-step.png'" />
  </div>
</div>
