@import '../../../../themes/remc.scss';

:host {
  .section {
    width: 100%;

    h3 {
      color: var(--primary-base);
    }
    &:hover{
      .button{
        opacity: 1;
      }
    }

    ::ng-deep .swiper {
      .swiper-button-prev {
        color: var(--white);
        filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.8));
        transition: all 0.2s;
      }

      .swiper-button-disabled {
        opacity: 0;
      }

      .swiper-button-next {
        color: var(--white);
        filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.8));
        transition: all 0.2s;
      }

      .swiper-wrapper {
        .swiper-slide {
          width: auto;
          height: auto;

          margin-right: remc(24);

          @media screen and (max-width: remc(900)) {
            margin-right: remc(18);
          }

          @media screen and (max-width: remc(768)) {
            margin-right: remc(12);
          }
        }
      }
    }

    &--header {
      margin-bottom: remc(18);
      padding-top: remc(5);
      color: var(--primary-base);
      display: flex;
      z-index: 2;
      align-items: center;

      img {
        margin-right: remc(8);
      }

      h3 {
        margin-right: remc(16);
        z-index: 2;
        margin-left: remc(3);
        color: var(--primary-base);
      }

      &--content{
        .button{
          opacity: 0;
          transition: all 0.2s ease-out;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: remc(11);

        img {
          height: remc(16);
        }

        h3 {
          font-size: remc(16);
        }
        &--content {
          display: none;
        }
      }
    }
  }
}
