<div class="container" [ngStyle]="{backgroundImage:'url(' + theme.login.loginBgUrl + ')'}">
  <form class="recovery" (submit)="onSubmit()">
    <div class="recovery--title" *ngIf="!success">
      <h3>Recuperando senha</h3>
    </div>
    <div class="recovery--title" *ngIf="success">
      <h3>Senha alterada com sucesso!</h3>
    </div>
    <div class="recovery--fields">
      <div class="recovery--new" *ngIf="!success">
        <label>Inserir nova senha</label>
        <app-input [type]="'password'" [placeholder]="'Digite sua senha'" [(value)]="passwordFirst"
          [error]="this.error.hasError" (click)="error.hasError = false">
        </app-input>
      </div>
      <div class="recovery--repeat" *ngIf="!success">
        <label>Confirmar nova senha</label>
        <app-input [type]="'password'" [placeholder]="'Repita sua senha'" [(value)]="passwordSecond"
          [error]="this.error.hasError" (click)="error.hasError = false">
        </app-input>
      </div>
      <div class="recovery--submit" *ngIf="!error?.hasError && !success">
        <app-button [text]="'Alterar'" [type]="'submit'" [classList]="'btn-primary'">
        </app-button>
      </div>
      <div class="recovery--success" *ngIf="!error?.hasError && success">
        <img class="recovery--success-img"
          [src]="environment.bucket + 'icons/password-changed.svg'" />
        <p>
          {{ successMessage }}
        </p>
      </div>
      <div class="recovery--submit" *ngIf="!error?.hasError && success">
        <app-button [text]="'Login'" [type]="'submit'" [classList]="'btn-primary'" [routerLink]="'/login'">
        </app-button>
      </div>
      <div class="recovery--error" *ngIf="error?.hasError">
        <p>{{ error.message }}</p>
      </div>
    </div>
  </form>
</div>
