<div class="wraps">
  <div class="fundo"></div>
  <div class="container">
    <div class="text">
      <p class="title"><b>Explore o conteúdo!</b></p>
      <p class="sub-title">
        Com a DirectTV GO você tem acesso aos mais <br />
        diversos conteúdos, de diferentes estúdios;
      </p>
      <app-button
        class="button"
        [text]="theme.landingPage.textButon"
        type="button"
        classList="btn-primary"
        (click)="goTo()"
      ></app-button>
    </div>
    <div class="cards">
      <swiper slidesPerView="auto">
        <ng-template swiperSlide *ngFor="let card of sectionCards">
          <img [src]="card.imageUrl" />
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
