@import '../../../themes/remc.scss';

.wraps {
  position: relative;

  .fundo {
    background: linear-gradient(
      180deg,
      #071a2c 0%,
      rgba(11, 90, 148, 0) 78.07%
    );
    width: 100%;
    height: remc(326);
    position: absolute;
    top: 0;
    left: 0;
  }
  width: 100vw;
  height: remc(390);

  .container {
    display: flex;
    align-items: center;

    .text {
      width: remc(493);
      margin-left: remc(102);
      z-index: 1;

      .title {
        font-size: remc(24);
        margin-bottom: remc(38);
        font-weight: remc(700);
        line-height: remc(28);
        color: var(--white);
      }

      .sub-title {
        font-size: remc(14);
        margin-bottom: remc(57);
        color: var(--white);
      }

      .button {
        margin-bottom: remc(72);
      }
    }

    .cards {
      width: calc(100vw - remc(493));
      margin-left: remc(60);

      ::ng-deep .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: auto;
            height: auto;
            margin-right: remc(24);
          }
        }
      }
    }
  }
}
