@import '../../../../themes/remc.scss';

:host {
  .sports-card-link {
    width: remc(440);
    height: remc(288);
    border: remc(3.5) solid transparent;
    cursor: pointer;
    border-radius: remc(16);

    .sports-card {
      position: relative;
      width: 100%;
      height: 100%;
      background: var(--light-gray);
      border-radius: remc(12);

      cursor: pointer;
      overflow: hidden;

      .background-img {
        width: 100%;
        height: 100%;

        background-color: var(--light-gray);
      }

      .logo {
        top: remc(12);
        right: remc(12);
        position: absolute;
      }

      .logo-mobile {
        top: remc(9);
        right: remc(12);
        position: absolute;
        background: var(--medium-gray);
        border-radius: remc(24);

        p {
          padding: remc(2) remc(8);
          font-size: remc(10);
          font-weight: 300;
          color: white;
        }
      }

      &__badge {
        position: absolute;
        display: flex;
        width: 100%;
        height: remc(80);
        background: var(--medium-gray);

        bottom: 0;
        padding: remc(12) remc(16);

        &-desktop {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          user-select: none;

          &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;

            p:first-child {
              margin-right: 1rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: var(--blue-multi-25);
              font-size: remc(14);
            }

            &-live {
              white-space: nowrap;
              text-align: right;
              color: var(--yellow-300);
              font-size: remc(16);
            }
          }

          &__bottom {
            width: 100%;
            font-size: remc(14);
            font-weight: 400;
            color: var(--white);
            display: flex;
            justify-content: space-between;
          }
        }

        &-mobile {
          width: 100%;
          display: flex;

          .age-indication {
            width: remc(18);
            height: remc(18);
            margin-right: remc(8);
          }

          &__title {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--orange-400);
            font-size: remc(12);
            padding: remc(2) 0;
            font-weight: 300;

            &-text {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: var(--blue-multi-25);
            }

            &-time {
              color: var(--white);
            }
          }
        }

        @media screen and (max-width: remc(768)) {
          height: remc(45);
          padding: remc(3) remc(8);
        }
      }
    }

    @media screen and (max-width: remc(900)) {
      width: remc(390);
      height: remc(238);
    }

    @media screen and (max-width: remc(768)) {
      width: remc(220);
      height: remc(154);
    }

    transition: border 0.2s;
    &:hover {
      border: remc(3.5) solid var(--primary-base);
    }
  }
}
