<div class="container" [ngStyle]="{backgroundImage:'url(' + theme.login.loginBgUrl + ')'}">
  <form class="recovery" (submit)="onSubmit()">
    <div class="recovery--title">
      <h3>Recuperar senha</h3>
    </div>
    <div class="recovery--fields">
      <app-input
        [type]="'email'"
        [placeholder]="'Digite seu email'"
        [error]="error.hasError"
        [(value)]="user.email"
        (click)="error.hasError = false"
      >
      </app-input>
      <div class="recovery--details" *ngIf="!error.hasError && !successMessage">
        Iremos te enviar um e-mail com instruções sobre como redefinir sua
        senha.
      </div>
      <div class="recovery--error" *ngIf="error?.hasError">
        <p>{{ error?.message }}</p>
      </div>
      <div class="recovery--success" *ngIf="!error.hasError && successMessage">
        Nós enviamos um link de recuperação de senha por e-mail. Caso o email
        não tenha chego clique em <a (click)="onSubmit()">reenviar</a>.
      </div>
      <div class="recovery--submit">
        <app-button
          *ngIf="!error.hasError"
          [text]="'Enviar'"
          [type]="'submit'"
          [classList]="'btn-primary'"
        >
        </app-button>
      </div>
    </div>
  </form>
</div>
