@import '../../../themes/remc.scss';

:host {
  display: flex;
  flex: 1;

  .container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 remc(10);
    flex: 1;

    .recovery {
      background-color: var(--primary-dark);
      width: 100%;
      max-width: remc(880);
      min-height: remc(576);
      margin: remc(65) 0 remc(207);
      padding: remc(26);
      display: flex;
      align-items: center;
      flex-direction: column;

      &--title {
        font-size: remc(24);
        margin-bottom: remc(26);
      }

      &--fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: remc(313);
        margin-top: remc(92);
        transition: all 0.2s;

        app-input {
          width: 100%;
          min-width: remc(280);
          display: block;
        }

        @media screen and (max-width: remc(768)) {
          max-width: remc(380);
        }
        @media screen and (max-width: remc(600)) {
          max-width: 100%;
        }
      }

      &--details {
        width: 100%;
        max-width: remc(310);
        font-size: remc(14);
        margin-top: remc(13);
        color: var(--white);
      }

      &--error {
        width: 100%;
        max-width: remc(313);
        background-color: var(--orange-400);
        text-align: center;
        color: var(--white);
        padding: remc(10) remc(10);
        margin-top: remc(12);
      }

      &--success {
        text-align: left;
        color: var(--white);
        margin-top: remc(13);
        font-size: remc(14);

        & > a {
          color: var(--orange-400);
        }

        & > a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &--submit {
        margin-top: remc(64);
      }

      @media screen and (max-width: remc(600)) {
        max-width: 100%;
      }
    }

    @media screen and (max-width: remc(768)) {
      padding: 0;
    }
  }
}
