<div class="container">
  <div class="menu-theme">
    <div class="title">
      <h2>Acessando a HBO Max</h2>
    </div>
  </div>
  <div class="step">
    <h2 class="title">Etapa 1</h2>
    <h3 class="subtitle">Acesse o a HBO MAX</h3>
    <p class="text">
      Você pode clicar no card HBO Max na seção {{ theme.clientRoute }} para
      você.
    </p>
    <img class="image" src="{{ theme.tutorial.hbo.web.step1 }}" />
  </div>
  <div class="step">
    <h2 class="title">Etapa 2</h2>
    <h3 class="subtitle">
      Use o mesmo login e senha de acesso à<br />
      plataforma {{ theme.clientName }}
    </h3>
    <p class="text">
      Você não precisa se preocupar em lembrar contas e senhas, o seu acesso
      <br />
      HBO é seu acesso {{ theme.clientRoute }}!
    </p>
    <img class="image" src="{{ theme.tutorial.hbo.web.step2 }}" />
  </div>
  <div class="step">
    <h2 class="title">Etapa 3</h2>
    <h3 class="subtitle">
      Preencha os campos com seus dados e se<br />
      cadastre na HBO Max
    </h3>
    <p class="text">
      Este passo só é necessário no seu 1º acesso, nos próximos é só selecionar
      seu<br />
      perfil!.
    </p>
    <img class="image" src="{{ theme.tutorial.hbo.web.step3 }}" />
  </div>
  <div class="step">
    <h2 class="title">Etapa Final</h2>
    <h3 class="subtitle">
      Parabéns, você acessou a HBO Max e pode <br />curtir a vontade
    </h3>
    <p class="text">
      Você pode criar diversos perfis e aproveitar com toda sua família.
    </p>
    <img class="image" src="{{ theme.tutorial.hbo.web.stepFinal }}" />
  </div>
</div>
