.grid {
  max-width: 800px;
  margin: 40px auto;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
  gap: 22px;

  .new-user-title {
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
  }

  .name-label-error,
  .pin-label-error {
    font-size: 12px;
    font-weight: 300;
    margin-top: 16px;
    color: var(--red);
  }

  hr {
    width: 100%;
    background: var(--blue-200);
    display: block;
    height: 1px;
  }

  .title {
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
  }

  .option {
    display: flex;
    flex-direction: column;
    margin: 18px 0 0 59px;
    color: var(--white);

    .option-title {
      font-size: 16px;
      font-weight: 700;
    }

    .send-email-content {
      display: flex;
      flex-direction: column;

      .input-email {
        margin-top: 8px;
      }

      .button-send-email {
        margin-top: 24px;
        align-self: center;
      }
    }

    .confirm-delete-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .buttons {
        display: flex;
        align-items: center;
        margin: 16px 0 24px 0;

        .button-cancel {
          margin-left: 55px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }

  .title-secondary {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .save-changes {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kids-profile,
  .live-channels {
    display: flex;

    .kids-profile-toggle,
    .live-channels-toggle {
      align-self: center;
    }

    .kids-profile-texts,
    .live-channels-texts {
      display: flex;
      flex-direction: column;
      margin-left: 24px;

      .kids-profile-title,
      .live-channels-title {
        font-size: 14px;
        font-weight: 400;
        color: var(--white);
      }

      .kids-profile-subtitle,
      .live-channels-subtitle {
        font-size: 12px;
        line-height: 10px;
        font-weight: 300;
        opacity: 0.5;
        color: var(--blue-200);
      }
    }
  }

  .text-allow {
    margin-top: 24px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    color: #99b6e7;
    opacity: 0.5;
  }

  .dados-usuario {
    color: var(--white);
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 66%;
    margin: auto;
    gap: 56px;

    .box-img-profile-dados-usuario {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;

      #imagePreview {
        width: 159px;
        height: 159px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
      }

      .edit-prifile-dados-usuario {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        margin-top: -144px;
        margin-right: 107px;
        background-color: var(--light-gray);
        cursor: pointer;
      }

      .icon-edit-dados-usuario {
        width: 26px;
        margin-top: 3px;
      }
    }

    .input-dados-usuario {
      width: 312px;
      height: 32px;
      border-radius: 4px;
      padding: 8px;
      margin-top: 6px;
      color: var(--light-gray);
    }

    .subtitle-dados-usuario {
      color: var(--blue-200);
      opacity: 0.5;
      font-size: 12px;
      margin-top: 10px;
    }

    .perfil-infantil-dados-usuario {
      display: flex;
      margin-top: 32px;

      .toggle-perfil-infantil {
        align-self: center;
      }

      .text-perfil-infantil-dados-usuario {
        width: 355px;
        margin-left: 18px;

        .subtitle-dados-usuario {
          font-size: 12px;
          line-height: 10px;
          font-weight: 300;
          opacity: 0.5;
          color: var(--blue-200);
          margin-top: 0;
        }
      }
    }
  }

  .classificacao {
    position: relative;

    mat-expansion-panel-header {
      margin-top: 24px;
    }

    .labels {
      width: 170px;
      height: 25px;
      margin-top: 8px;
    }

    .subtitle {
      margin-top: 8px;
    }

    .subtitle0 {
      margin-top: 24px;
    }

    .age-label-0 {
      max-width: 164px;
      top: 140px;
      position: absolute;
    }

    .age-label-10 {
      max-width: 164px;
      top: 176px;
      position: absolute;
    }

    .age-label-12 {
      max-width: 164px;
      top: 220px;
      position: absolute;
    }

    .age-label-14 {
      max-width: 164px;
      top: 264px;
      position: absolute;
    }

    .age-label-16 {
      max-width: 164px;
      top: 308px;
      position: absolute;
    }

    .age-label-18 {
      max-width: 164px;
      top: 352px;
      position: absolute;
    }

    .subtitle2 {
      max-width: 164px;
      top: 612px;
      position: absolute;
    }

    .subtitle,
    .subtitle0 {
      font-size: 14px;
      font-weight: 400;
      color: var(--blue-200);
      opacity: 0.5;
      line-height: 16px;
    }

    .age-label-0,
    .age-label-10,
    .age-label-12,
    .age-label-14,
    .age-label-16,
    .age-label-18,
    .subtitle2 {
      font-size: 12px;
      opacity: 0.5;
      color: var(--blue-200);
      line-height: 14px;
    }
  }

  .classificacao,
  .controle {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: #fff;
    align-items: center;

    .disabled {
      opacity: 0.3;
    }

    button {
      color: #fff;
      align-items: center;
      padding: 1px 24px 0px;
      border-radius: 16px;
      height: 32px;
      font-size: 16px;

      &.salvar {
        cursor: pointer;
        background: var(--primary-base);

        &:disabled {
          cursor: default;
          opacity: 0.3;
        }
      }

      &.cancelar {
        cursor: pointer;
        border: 1px solid #fff;
        background: none;
      }
    }
  }
}

.spacer-24 {
  height: 24px;
}

.spacer-30 {
  height: 30px;
}

.clicable {
  cursor: pointer;
}