@import '../../../../themes/remc.scss';

:host {
  ::ng-deep {
    .swiper-pagination {
      height: fit-content;
      .swiper-pagination-bullet {
        margin: remc(8);
        background-color: var(--white);
        width: remc(32);
        border-radius: remc(16);
        height: remc(4);
      }
    }
    .swiper-pagination {
      bottom: remc(-12) !important;
    }
    .swiper {
      padding-bottom: remc(37);
    }

    @media screen and (max-width: 768px) {
      .swiper {
        padding: 0;
      }
      .swiper-slide {
        img {
          width: 100%;
          display: block;
        }
      }
      .swiper-pagination {
        bottom: remc(3) !important;
      }
    }
  }
}
