<div class="container">
  <h3 class="center">TERMOS DE USO E PRIVACIDADE</h3><br><br>
  <div>
    <br>
      <p> Bem-vindo aos termos de uso e privacidade da WATCH BRASIL. Estes termos são válidos entre você,
          USUÁRIO e a WATCH BRASIL, para regular o uso do site <a (click)="goTo()"> <b> <u>
            https://watch.tv.br/ </u> </b></a>, do respectivo aplicativo móvel,
          seus conteúdos e do serviço, incluindo todos os recursos e funcionalidades, recomendações e avaliações,
          nossos sites e as interfaces do usuário, assim como todo o conteúdo e software associados ao serviço.
          Lembramos que estes termos deverão ser respeitados por todos visitantes e usuários. Toda vez que você
          acessar, navegar ou utilizar o serviço WATCH BRASIL, você estará automaticamente de acordo com os termos
          deste contrato.
      </p> <br>

      <p>Integram os presentes TERMOS DE USO todos os avisos, regulamentos de uso e instruções levados ao
          conhecimento dos usuários e visitantes pela WATCH BRASIL.</p> <br>

      <p>Todos os avisos, regulamentos de uso e instruções passados pela WATCH BRASIL para
          seus usuários e visitantes fazem parte dos TERMOS DE USO.</p><br><br>

      <p style="text-align:center"> <b>GLOSSÁRIO</b></p> <br>

      <p>Para facilitar a compreensão deste Termo de Uso e Privacidade, devem ser considerados os seguintes conceitos:
      </p> <br>

      <b>ANTISPAM: </b>Sistema que evita correspondências não desejadas, como publicidade em massa, pelo bloqueio
      de mensagens ou movendo-as para pasta específica. <br> <br>

      <b>APLICATIVO SPIDER: </b> Programa desenvolvido para obter informações de modo automatizado na Internet, navegando
      pela web (teia) como se fosse uma spider (aranha). <br> <br>

      <b>CONTA DE ACESSO: </b>Credencial de um usuário cadastrado que permite o acesso à área restrita e às funcionalidades
      exclusivas, que é definida por nome de usuário (login) e senha <br> <br>

      <b>DADOS CADASTRAIS: </b>Conjunto de informações pessoais de um internauta que o identificam, diferenciando-o dos demais.
      Por exemplo: número do documento de identidade (RG ou RNE), cadastro de pessoa física (CPF) ou jurídica (CNPJ), endereço
      residencial ou comercial, sede, nome completo, entre outros. <br> <br>

      <b>LAYOUT: </b> Conjunto compreendido entre aparência, design e fluxos do site. <br> <br>

      <b>LINK:</b> Terminologia para endereço de Internet. <br> <br>

      <b>LOGIN: </b> Nome de usuário escolhido pelo visitante quando preenche o cadastro para acesso a
      funcionalidades
      exclusivas do portal. <br> <br>

      <b>LOGON: </b> Ato de o visitante cadastrado ingressar na área restrita do portal utilizando login e senha.
      <br> <br>

      <b>LOGS: </b> Registros de atividades do visitante efetuadas no portal. <br> <br>

      <b>SENHA: </b> Conjunto de caracteres que serve como prova de identidade digital do usuário, cujo
      conhecimento deve
      ser exclusivo e único. <br> <br>

      <b>USUÁRIO: </b> Qualquer visitante que acesse a área restrita do site, mediante uma conta de acesso. <br> <br>

      <b>VISITANTE: </b> Qualquer pessoa que navegar pelo site.<br> <br>

      <b>WEBMASTERING: </b>
      Compreende criação, programação, desenvolvimento, controle e disponibilidade de páginas de Internet.<br><br>

      <b>COOKIES: </b>
      Arquivos enviados pelo servidor do portal para o computador dos visitantes e usuários, com a finalidade de
      identificar o computador e obter dados de acesso, como páginas navegadas ou links clicados, permitindo, desta
      forma, personalizar a navegação dos visitantes e usuários no portal, de acordo com seu perfil.<br><br>

      <b>OVER THE TOP (OTT):</b>
      Representa qualquer conteúdo que é veiculado diretamente para os espectadores por
      meio de um serviço de streaming de vídeo pela Internet, através de dispositivos eletrônicos. <br><br>

      <b>VIDEO ON DEMAND (VOD):</b>
      Conceito implementado por sistemas que permitem ao usuário selecionar e assistir conteúdo de vídeo sobre uma
      rede como parte de um sistema de TV interativo. Podem ser em streaming, no qual o vídeo é imediatamente
      executado à medida que os pacotes de dados referentes ao conteúdo chegam através da rede, ou baixados (download)
      inteiramente para após serem visualizados.<br><br>

      <b>SUBSCRIPTION VIDEO ON DEMAND (SVOD):</b>
      Termo utilizado para especificar qualquer conteúdo que pode ser acessado pelos consumidores que se inscreveram
      para a assinatura de um serviço específico, permitindo visualizações ilimitadas por uma taxa fixa
      mensal.<br><br>

      <b>TRANSACTIONAL VIDEO ON DEMAND (TVOD):</b>
      termo utilizado para especificar o aluguel de qualquer conteúdo que é comprado por meio de um modelo
      pay-per-view.
      Os espectadores podem comprar o conteúdo para visualização repetida ou alugá-lo para um uso único.<br><br>

      <b>CANAIS LINEARES:</b>
      Considera-se canais lineares aqueles de programação 24 horas por dia, 7 dias por semana, seguindo uma
      programação definida e que não pode ser alterada.<br><br>

      <b>SERVIÇO DE VALOR ADICIONADO (SVA):</b>
      Trata-se de modalidade de serviço implementado no plano contratado de telecomunicações – principalmente a
      internet oferecida por provedores.<br><br>

      <b>FORNECEDORES:</b>
      empresas, canais, produtoras, plataformas, dos quais a CONTRATADA tem parcerias.<br><br><br>

      <p style="text-align:center"> <b>OBJETO</b> </p><br>

      <p class="negative-indent"> <b>1.1.</b> &nbsp; Através do site e aplicativo móvel, a WATCH BRASIL disponibilizará
          o acesso aos usuários e visitantes de diversos conteúdos. O site e o aplicativo móvel são plataformas OTT (over the top)
          de acesso a conteúdos audiovisuais (streaming), nas modalidades VOD (vídeo on demand), SVOD (subscrition VOD), TVOD (transactional VOD)
          e canais lineares prestados por intermédio da WATCH BRASIL, ou seja, as plataformas oferecem filmes digitais, e outros conteúdos de vídeo, por meio
          de um catálogo de títulos, para você assistir durante o período de sua assinatura ou, em alguns casos específicos, através de aluguel de filmes digitais.
          O serviço e o conteúdo digital podem ser acessados tanto pelo site, quanto pelo aplicativo móvel da WATCH BRASIL.
          <b>Se você tem menos de 18 anos, ou é menor de idade segundo a regra de sua localidade, você poderá utilizar o serviço
            apenas mediante a participação de pai, mãe ou responsável.</b></p> <br><br>

      <p class="negative-indent"> <b>1.2.</b> &nbsp; A WATCH BRASIL se reserva o direito de modificar
          unilateralmente, a qualquer momento e sem prévio aviso, a apresentação e configuração do site e do aplicativo móvel,
          assim como o de eliminar ou modificar, os conteúdos, os termos de uso e privacidade, os avisos, regulamentos e instruções de uso.
      </p><br><br>

      <p style="text-align:center"> <b>SERVIÇO, CONDIÇÕES DE ACESSO E UTILIZAÇÃO DO SITE</b></p> <br>

      <p class="negative-indent"> <b>2.1.</b> &nbsp; A sua assinatura WATCH permanecerá ativa até que seja cancelada.
          Com os serviços, será permitido ao usuário: <b>(i)</b> acessar o conteúdo digital através de uma assinatura, durante o tempo
          limitado do período da assinatura; <b>(ii)</b> alugar conteúdo digital para assistir por um tempo limitado.
      </p> <br>

      <p class="negative-indent"> <b>2.2.</b> &nbsp; As plataformas da WATCH BRASIL são dedicadas às atividades de
          disponibilização de conteúdo audiovisual por meio das modalidades de serviço SVOD e TVOD; sendo que para utilizar
          funcionalidades exclusivas, você deverá obter além ferramentas de acesso à Internet (determinados televisores, computadores
          e outros aparelhos conectados à Internet - aparelhos compatíveis com a WATCH BRASIL), uma conta de acesso, por meio
          de procedimento de cadastro. Vale lembrar que não é permitido aos visitantes e usuários acessarem as áreas de programação
          do site e do aplicativo móvel, seus bancos de dados ou qualquer conjunto de informações que faça parte da atividade
          de <i>webmastering</i>, ficando sujeito quem o fizer à legislação penal brasileira e obrigado a reparar os danos que causar.
      </p> <br>

      <p class="negative-indent"> <b>2.3.</b> &nbsp; Deve ainda o usuário, no ato do cadastro de assinatura, fornecer uma
          ou mais Formas de Pagamento. “Forma de Pagamento” refere-se a uma forma de pagamento atualizada, válida e aceitável, que
          poderá ser atualizada periodicamente, e que poderá incluir o pagamento por meio da sua conta com terceiros.
          A menos que cancele a assinatura antes da data de cobrança, você nos autoriza a cobrar a taxa de assinatura do
          próximo ciclo de faturamento usando a sua Forma de Pagamento. Abaixo teremos uma seção dedicara para o tema de CANCELAMENTO.
      </p> <br>

      <p class="negative-indent"> <b>2.4.</b> &nbsp; Também não é autorizado realizar ou permitir engenharia reversa, nem traduzir,
          descompilar, copiar, modificar, reproduzir, alugar, sublicenciar, publicar, divulgar, transmitir, emprestar, distribuir ou, de
          outra maneira, dispor das ferramentas de consulta deste portal, aplicativo móvel e de suas funcionalidades.
      </p> <br>

      <p class="negative-indent"> <b>2.5.</b> &nbsp; Destaca-se que nesse portal e aplicativo móvel é proibida a utilização de
          aplicativo spider ou de mineração de dados, de qualquer tipo ou espécie, além de outro aqui não tipificado, mas que atue
          como um robô, tanto para realizar operações massificadas ou para quaisquer outras finalidades, sob aplicação da legislação
          penal brasileira e de reparar os danos que decorrerem desta utilização. Ressalta-se, também, que é ônus dos
          visitantes e usuários arcar com os meios necessários para navegar neste portal e aplicativo móvel,
          incluindo acesso à Internet.
      </p> <br>

      <p class="negative-indent"> <b>2.6.</b> &nbsp; Vale lembrar que sua conta de acesso, login e senha, são de uso
          pessoal e que a navegação é de sua inteira responsabilidade, sendo que a <b>WATCH BRASIL</b> não se responsabiliza pelos
          atos praticados por seus visitantes e usuários no ambiente oferecido pelo portal e aplicativo móvel, devendo cada
          um ser imputado de acordo com a qualidade do uso da plataforma.
      </p><br><br>

     <p style="text-align:center"> <b>UTILIZAÇÃO DO SITE, APLICATIVO MÓVEL E DOS SEUS CONTEÚDOS</b></p> <br>

      <p class="negative-indent"> <b>3.1.</b> &nbsp; A disponibilização dos conteúdos pela WATCH BRASIL somente ocorrerá
          mediante o fornecimento de algumas informações sobre o usuário, essas informações serão solicitadas a você para criação
          da sua conta de acesso.
      </p> <br>

      <p class="negative-indent"> <b>3.2.</b> &nbsp; Pelo aceite destes termos, o usuário compromete-se a utilizar o site,
          o aplicativo móvel e os seus conteúdos em conformidade com a lei, com o disposto nestes Termos de Uso e Privacidade,
          com a moral, os bons costumes e com a ordem pública. Da mesma forma, se obriga a não utilizar o site e o aplicativo móvel
          e seus conteúdos de forma nociva aos direitos e interesses de terceiros, ou de qualquer forma que possa vir a causar dano,
          sobrecarregar, inutilizar ou impedir a normal utilização das plataformas WATCH BRASIL e dos seus conteúdos.
      </p> <br>

      <p class="negative-indent"> <b>3.3.</b> &nbsp; O usuário deverá abster-se de obter desenhos, informações, gráficos,
          mensagens, arquivos de som e/ou imagem, fotografias, gravações, programas e/ou qualquer outro tipo de material acessível através
          do site e aplicativo móvel ou dos conteúdos, inclusive de marca, empregando meios ou procedimentos diversos daqueles que
          disponibilizados ou indicados com este propósito nas páginas do site e aplicativo móvel.
      </p> <br>

      <p class="negative-indent"> <b>3.4.</b> &nbsp; O usuário obriga-se a utilizar os conteúdos de forma lícita e,
          além disso: - Se abstém de copiar, distribuir, modificar, divulgar o conteúdo ao público através de qualquer
          modalidade de comunicação; de modificar os conteúdos, a menos que obtenha autorização da WATCH BRASIL; - Se
          abstém de eliminar ou manipular o copyright ou outros dados que identifiquem os direitos da WATCH BRASIL ou
          ainda direitos incorporados ao site e aplicativo móvel e seus conteúdos de propriedade de terceiros, bem como
          os dispositivos de proteção, as marcas ou quaisquer mecanismos de informação.
      </p> <br><br>

     <p style="text-align:center"> <b>CONTA DE ACESSO DO USUÁRIO E DO CONTEÚDO</b></p> <br>

      <p class="negative-indent"> <b>4.1.</b> &nbsp; Condições de preço e ofertas para assinaturas, serviços de
          assinatura, a extensão do conteúdo digital por assinatura disponível e os títulos específicos disponíveis
          através de serviços de assinatura poderão mudar conforme o tempo, sem aviso (salvo se exigido por lei).
          A menos que indicado de outra forma, quaisquer alterações de preço valem para o início do período de
          assinatura seguinte. Se você não estiver de acordo com uma modificação na assinatura, você poderá cancelar
          a assinatura nos termos do seu Contrato de Adesão.
      </p> <br>

      <p class="negative-indent"> <b>4.2.</b> &nbsp; Não oferecemos garantias quanto à disponibilidade
          de um conteúdo digital específico por assinatura ou quanto a uma quantidade mínima de conteúdo digital
          disponível por assinatura em determinada categoria de assinatura.
      </p><br><br>

     <p style="text-align:center"> <b>DO ACESSO AO CONTEÚDO</b></p> <br>

      <p class="negative-indent"> <b>5.1.</b> &nbsp; A WATCH BRASIL concede a você uma licença limitada, não
          exclusiva, não transferível, não sublicenciável, durante o período de acesso aplicável, para acessar e
          visualizar o conteúdo digital em conformidade com as regras de uso e privacidade, para uso pessoal, não
          comercial e privado. Nós poderemos remover automaticamente o conteúdo digital do seu dispositivo compatível
          após o término do período de acesso. O referido acesso ao conteúdo é sujeito ao pagamento de valores para alugar
          ou acessar conteúdo digital, e ao adimplemento de todos os termos deste contrato.
      </p> <br>

      <p class="negative-indent"> <b>5.2. &nbsp; Assim, você não poderá (i) transferir, copiar ou exibir o conteúdo
          digital, salvo nos termos autorizados por este contrato; (ii) vender, alugar, conceder, distribuir ou transmitir
          qualquer direito ao conteúdo digital; (iii) remover qualquer aviso de propriedade intelectual ou etiqueta do conteúdo digital;
          (iv) tentar desabilitar, evitar, modificar, frustrar ou de outra forma lograr qualquer gestão de direito digital ou outro
          sistema de proteção de conteúdo utilizado como parte do serviço; ou (v) utilizar o serviço ou conteúdo digital para qualquer
          propósito comercial ou ilegal. Caso seja detectado pela WATCH BRASIL, poderá esta cancelar ou restringir seu uso do serviço
          se você violar estes Termos de uso ou se envolver no uso ilegal ou fraudulento do serviço.
      </b></p> <br>

      <p class="negative-indent"> <b>5.3.</b> &nbsp; Ressaltamos que para assinar o serviço WATCH BRASIL você deve ter pelo
          menos 18 anos. No caso de <b>menores de idade</b>, estes somente podem usar o serviço sob a supervisão de um adulto.
      </p> <br>

      <p class="negative-indent"> <b>5.4.</b> &nbsp; Os serviços da WATCH BRASIL, bem como todo o conteúdo acessado através da
          plataforma destinam-se primordialmente para uso no país onde fez sua inscrição <b>e somente nas áreas geográficas onde oferecermos
          nosso serviço e tivermos licenciado esse conteúdo.</b> O conteúdo que pode estar disponível irá variar segundo a sua localização
          geográfica e será alterado periodicamente. O número de aparelhos nos quais você pode assistir o conteúdo simultaneamente
          depende do plano de assinatura escolhido e está especificado na página “Conta”.
      </p> <br>

      <p class="negative-indent"> <b>5.5.</b> &nbsp; O serviço WATCH BRASIL, inclusive o catálogo de conteúdo, é atualizado regularmente.
          Além disso, diferentes aspectos do serviço são testados de forma contínua, incluindo nossos sites, as interfaces de usuário.
      </p> <br>

      <p class="negative-indent"> <b>5.6.</b> &nbsp; <b>Streaming - SVOD:</b> você poderá assistir a vídeos online, via streaming, através
          do seu navegador Web, aplicativo móvel para smartphone (Android).
      </p> <br>

      <p class="negative-indent"> <b>5.7.</b> &nbsp; <b>Conteúdo alugado – TVOD:</b> você poderá assistir a vídeos online, via streaming,
          através do seu navegador Web, aplicativo móvel para smartphone (Android). Você terá, normalmente, entre 24 a 48 horas para
          terminar de assistir a um vídeo alugado, contadas a partir do começo do streaming. Todas as operações de locação são
          definitivas, não é admitido qualquer devolução de conteúdo ou indenização por desistência.
      </p> <br>

      <p class="negative-indent"> <b>5.8.</b> &nbsp; <b>Qualidade:</b> a qualidade e resolução de reprodução do conteúdo digital que você
          recebe dependerá de um número de fatores, incluindo o tipo de dispositivo compatível no qual você está acessando o conteúdo
          digital e a velocidade da sua conexão, que poderá aumentar ou diminuir durante a visualização. Mesmo fazendo o máximo esforço
          para fornecer uma experiência de alta qualidade de visualização, não oferecemos garantias quanto à resolução ou qualidade do
          conteúdo digital ao qual você terá acesso por streaming, mesmo que tenha pago um valor extra para ter conteúdo de alta
          definição (HD), de ultra-alta definição (UHD) ou de grande alcance dinâmico (HDR).
      </p> <br>

      <p class="negative-indent"> <b>5.9.</b> &nbsp; <b>Disponibilidade do conteúdo digital:</b> O conteúdo digital, via de regra,
          ficará disponível para streaming, mas poderá tornar-se indisponível devido a potenciais restrições de licenciamento do
          provedor de conteúdo ou por outros motivos, e a WATCH BRASIL não será responsável perante você se o conteúdo digital
          se tornar indisponível.
      </p> <br><br>

      <p style="text-align:center"> <b>FATURAMENTO E CANCELAMENTO</b></p> <br>

      <p class="negative-indent"> <b>6.1.</b> &nbsp; O preço da assinatura do serviço WATCH BRASIL e todos os outros encargos incorridos
          por você em relação ao uso do serviço, tais como impostos e possíveis taxas de transação, serão cobrados, de acordo com a
          Forma de Pagamento escolhida, na data de pagamento específica indicada na página “Conta”.
      </p> <br>

      <p class="negative-indent"> <b>6.2.</b> &nbsp; A duração do ciclo de faturamento dependerá do tipo de assinatura escolhido
          quando você assinou o serviço. Em alguns casos, a data de pagamento poderá ser alterada, por exemplo, se a Forma de Pagamento
          não puder ser cobrada, se você alterar o plano de assinatura ou se a sua assinatura paga começar em um dia que não existe em
          um determinado mês.
      </p> <br>

      <p class="negative-indent"> <b>6.3.</b> &nbsp; A WATCH BRASIL poderá solicitar antecipadamente uma autorização do valor de
          sua assinatura ou cobranças relacionadas ao serviço de sua Forma de Pagamento de várias formas, inclusive a autorização de até
          aproximadamente um mês de serviço, no ato de sua inscrição. Se você assinou a WATCH BRASIL usando sua conta com um terceiro como
          Forma de Pagamento, poderá encontrar os dados de cobrança da assinatura WATCH BRASIL acessando a sua conta com o referido terceiro.
      </p> <br>

      <p class="negative-indent"> <b>6.4.</b> &nbsp; Para utilizar o serviço WATCH BRASIL, você precisa fornecer uma ou mais Formas
          de Pagamento. Você nos autoriza a cobrar de qualquer Forma de Pagamento associada à sua conta caso a sua Forma de Pagamento
          principal seja negada ou não esteja mais disponível para nós para o pagamento do valor da assinatura e você concorda que as
          Formas de Pagamento disponíveis tanto para operações de débito como de crédito poderão ser processadas de ambas as formas.
          Você continua responsável por todos os valores não pagos.
      </p> <br>

      <p class="negative-indent"> <b>6.5.</b> &nbsp; Se um pagamento não for realizado com sucesso, devido à perda de validade,
          insuficiência de saldo ou qualquer outro motivo, e você não cancelar a sua conta, poderemos suspender o seu acesso ao serviço
          até que consigamos fazer a cobrança de uma Forma de Pagamento válida. Para algumas Formas de Pagamento, as instituições financeiras
          e/ou os prestadores de serviço de meios de pagamento poderão cobrar determinadas taxas, como taxas sobre transações financeiras
          internacionais ou outras taxas relacionadas à Forma de Pagamento.
      </p> <br>

      <p class="negative-indent"> <b>6.6.</b> &nbsp; A cobrança de impostos locais pode variar de acordo com a Forma de Pagamento usada.
          Consulte a instituição financeira da sua Forma de Pagamento para obter mais detalhes.
      </p> <br>

      <p class="negative-indent"> <b>6.7.</b> &nbsp; É possível atualizar as suas Formas de Pagamento acessando a página “Conta”.
          Nós também podemos atualizar as suas Formas de Pagamento com informações fornecidas pelas respectivas instituições financeiras,
          instituições de pagamento e/ou pelos prestadores de serviços de meios de pagamento. Após qualquer atualização, você nos
          autoriza a continuar a cobrar a(s) respectiva(s) Forma(s) de Pagamento.
      </p> <br>

      <p class="negative-indent"> <b>6.8.</b> &nbsp; Havendo desinteresse em manter sua assinatura WATCH BRASIL, você poderá cancelar
          sua assinatura a qualquer momento e você continuará a ter acesso ao serviço WATCH BRASIL até o fim do período de faturamento.
      </p> <br>


      <p class="negative-indent"> <b>6.9.</b> &nbsp; Na extensão permitida pelas leis aplicáveis, os pagamentos não são reembolsáveis
        e a WATCH BRASIL não oferece reembolsos ou créditos por períodos de assinatura utilizados parcialmente ou por conteúdo WATCH
        BRASIL não utilizado.
      </p> <br>

      <p class="negative-indent"> <b>6.10.</b> Se você cancelar sua assinatura, sua conta será automaticamente encerrada ao
          fim do período de cobrança em andamento. Para verificar quando sua conta será encerrada, clique na opção “Detalhes de cobrança”
          da página “Conta”.
      </p> <br>

      <p class="negative-indent"> <b>6.11.</b> Se você se inscreveu na WATCH BRASIL indicando como Forma de Pagamento uma
          conta junto a terceiros e desejar cancelar sua assinatura, talvez seja preciso efetuar o cancelamento juntamente a tais terceiros,
          por exemplo, acessando sua conta com esse terceiro e desativando a renovação automática ou cancelando a assinatura do serviço por
          meio desse terceiro.
      </p> <br>

      <p class="negative-indent"> <b>6.12.</b> De maneira planejada, os valores dos planos de assinatura e os preços de nosso
          serviço serão revisados e poderão sofrer reajustes, para melhor adequação ao contínuo aprimoramento de nosso serviço. Assim, poderemos
          ajustar o valor de sua assinatura anualmente, ou com maior frequência se permitido pela legislação vigente, de acordo com a variação
          positiva do Índice Geral de Preços do Mercado (IGP-M), publicado pela Fundação Getúlio Vargas, ou outro índice equivalente aplicável
          ao serviço WATCH BRASIL. Quaisquer alterações de preço ou alterações em seus planos de assinatura serão aplicadas somente 30 dias após
          o envio da notificação a você.
      </p> <br><br>

      <p style="text-align:center"> <b>INFORMAÇÕES GERAIS SOBRE O SITE, APLICATIVO MÓVEL E SEU FUNCIONAMENTO</b></p> <br>

      <p class="negative-indent"> <b>7.1.</b> &nbsp; Este site e aplicativo móvel são apresentados ao público da web na maneira como
        estão disponíveis, podendo passar por constantes aprimoramentos e atualizações, não ficando obrigada a WATCH BRASIL a manter uma
        estrutura ou layout, senão por sua própria conveniência.
      </p> <br>

      <p class="negative-indent"> <b>7.2.</b> &nbsp; A WATCH BRASIL envida seus esforços para a disponibilidade contínua e permanente
          do portal e aplicativo móvel, ficando sujeita, todavia, a eventos extraordinários, como desastres naturais, falhas ou colapsos nos
          sistemas centrais de comunicação e acesso à Internet ou fatos de terceiro, que fogem de sua esfera de vigilância e responsabilidade.
      </p> <br>

      <p class="negative-indent"> <b>7.3.</b> &nbsp; Dessa forma, os visitantes e usuários não possuem qualquer direito para
          exigir a disponibilidade do portal/aplicativo móvel conforme melhor lhes convém, tampouco poderão pleitear indenização ou
          reparação de danos no caso de este portal permanecer fora do ar, nas hipóteses de casos fortuitos ou de força maior, bem
          como por culpa de terceiros e fornecedores de conteúdo.
      </p> <br>

      <p class="negative-indent"> <b>7.4.</b> &nbsp; Destaca-se que a WATCH BRASIL poderá, a seu exclusivo critério e
          conveniência, excluir ou suspender a conta de acesso de determinado usuário do portal, em virtude de suspeita de
          inexatidão de informações ou prática criminosa de algum ato. Essa faculdade não exime os usuários e visitantes de fornecer
          sempre os dados verdadeiros e praticar condutas que coadunem com o propósito de existência do portal e de seu cadastro nele.
      </p> <br><br>

      <p style="text-align:center"> <b>COMUNICAÇÃO DA EMPRESA COM SEUS VISITANTES E USUÁRIOS</b></p> <br>

      <p class="negative-indent"> <b>8.1.</b> &nbsp; A WATCH BRASIL utilizará como principais canais de comunicação com
          os usuários o e-mail informado durante a interação com o site/aplicativo móvel, nas suas mais diversas modalidades, bem
          como o sistema de mensagens nativo do próprio portal.
      </p> <br>

      <p class="negative-indent"> <b>8.2.</b> &nbsp; A responsabilidade pelo recebimento dos comunicados é exclusiva dos usuários,
          por isso é indispensável que sempre forneçam os dados corretos e precisos à WATCH BRASIL, e os mantenha atualizados.
      </p> <br>

      <p class="negative-indent"> <b>8.3.</b> &nbsp; É igualmente de responsabilidade dos usuários deixarem seus sistemas de antispam
          configurados de modo que não interfiram no recebimento dos comunicados e matéria da WATCH BRASIL, não sendo aceitável nenhuma escusa
          caso não tenha tido acesso a algum e-mail em virtude desse bloqueio ou filtro similar.
      </p> <br><br>

      <p style="text-align:center"> <b>PRIVACIDADE E SEGURANÇA DO SITE, APLICATIVO MÓVEL E DOS SEUS CONTEÚDOS</b></p> <br>

      <p class="negative-indent"> <b>9.1.</b> &nbsp; A WATCH BRASIL reconhece a vigência de legislação nacional e adota procedimentos,
          metodologias e recursos tecnológicos aptos a garantir a proteção da privacidade de dados pessoais nas atividades de tratamento que
          são realizadas na execução de seus contratos ou objetos sociais. Sendo assim, a WATCH BRASIL firma o compromisso de resguardar a
          privacidade e a segurança dos dados de seus usuários e visitantes durante todo o processo de navegação pelo site e aplicativo móvel.
          Os dados cadastrais dos usuários não são vendidos, trocados ou divulgados para terceiros, exceto quando essas informações são
          necessárias para o processo de entrega, para cobrança, ou para participação em promoções solicitadas pelos usuários e visitantes.
          Seus dados pessoais são peça fundamental para que seu cadastro seja feito.
      </p> <br>

      <p class="negative-indent"> <b>9.2.</b> &nbsp; Todas as palavras e expressões que sejam relacionadas a tratamento de
          dados pessoais e dados pessoais sensíveis são utilizadas conforme as definições dadas pela Lei Geral de Proteção de Dados
          [LGPD - Lei Federal n.13.709/2018] e legislação correlata.
      </p> <br>

      <p class="negative-indent"> <b>9.3.</b> &nbsp; Em conformidade com o art. 5º da Lei Geral de Proteção de Dados Pessoais
          [Lei 13.709/18], as expressão “dado pessoal” é compreendida como <i>“informação relacionada a pessoa natural identificada
          ou identificável” e “dado pessoal sensível” é “dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião
          política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou
          à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural”.</i>
      </p> <br>

      <p class="negative-indent"> <b>9.4.</b> &nbsp; A atividade de “tratamento” compreende<i> “toda operação realizada com dados
         pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão,
         distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação,
         comunicação, transferência, difusão ou extração”.</i>
      </p> <br>

      <p class="negative-indent"> <b>9.5.</b> &nbsp; O titular dos dados é <i>“pessoa natural a quem se referem os dados pessoais
         que são objeto de tratamento”.</i>
      </p> <br>

      <p class="negative-indent"> <b>9.6.</b> &nbsp; A WATCH BRASIL utiliza cookies e informações de sua navegação (sessão do browser)
          no portal de acesso/aplicativo móvel com o objetivo de traçar um perfil do público que visita o site/aplicativo móvel e
          aperfeiçoar sempre nossos serviços, produtos e conteúdos.
      </p> <br>

      <p class="negative-indent"> <b>9.7.</b> &nbsp; Durante todo este processo, mantemos suas informações em sigilo absoluto. Vale
          lembrar que seus dados são registrados pela WATCH BRASIL de forma automatizada, dispensando manipulação humana.
      </p> <br>

      <p class="negative-indent"> <b>9.8.</b> &nbsp; Para que estes dados permaneçam intactos, nós desaconselhamos
          expressamente a divulgação de sua senha a terceiros, mesmo a amigos e parentes.
      </p> <br>

      <p class="negative-indent"> <b>9.9.</b> &nbsp; A WATCH BRASIL exime-se de responsabilidade pelos danos, prejuízos
          e/ou lucros cessantes de qualquer natureza que possam advir do conhecimento que possam ter terceiros não autorizados
          a respeito de condições, características e circunstâncias de uso que os usuários e visitantes fazem do site
          e aplicativo móvel ou de seus conteúdos.
      </p> <br>

      <p class="negative-indent"> <b>9.10.</b> Os usuários e visitantes autorizam a receber demais conteúdos
          via e- mail, relacionados aos parceiros da WATCH BRASIL, com assuntos de interesse dos mesmos.
      </p> <br>

      <p class="negative-indent"> <b>9.11.</b> As alterações sobre nossa política de privacidade serão
          devidamente informadas neste espaço.
      </p> <br><br>

      <p style="text-align:center"> <b>OBTENÇÃO DOS DADOS E INFORMAÇÕES</b></p> <br>

      <p class="negative-indent"> <b>10.1.</b> Os dados e informações serão obtidos quando os
          visitantes e usuários: - realizarem seus cadastros com preenchimento das informações necessárias;
          - interagirem com as diversas funcionalidades existentes no portal, fornecendo as informações
          voluntariamente; ou - adquirirem alguns dos produtos ou serviços oferecidos no site ou aplicativo móvel.
      </p> <br><br>

      <p style="text-align:center"> <b>INFORMAÇÕES COLETADAS – FINALIDADE, ATUALIZAÇÃO OU MUDANÇA DE PERFIL E FORMA DE UTILIZAÇÃO</b></p> <br>

      <p class="negative-indent"> <b>11.1.</b> Através dos cadastros, buscamos aprimorar nosso
          canal de comunicação com nosso público, de forma a identificá-lo melhor para atender às suas necessidades,
          expectativas e preferências. Algumas informações são de preenchimento obrigatório, importantes para que
          a WATCH BRASIL possa identificá-lo melhor e disponibilizar adequadamente as informações e serviços
          de acordo com sua necessidade.
      </p> <br>

      <p class="negative-indent"> <b>11.2.</b> As informações sobre os usuários e visitantes
          serão armazenadas em um servidor seguro e têm o intuito exclusivo de fornecer informações diversas e
          respostas às perguntas por eles realizadas.
      </p> <br>

      <p class="negative-indent"> <b>11.3.</b> Dessa forma, todos os dados e informações coletados
         dos visitantes e usuários serão incorporados ao banco de dados do portal e aplicativo móvel, sendo seu responsável
         WATCH TV ENTRETENIMENTOS S/A, pessoa jurídica de direito privado, inscrita no CNPJ nº 24.817.685/0001-21,
         com sede e foro na cidade de Curitiba, Estado do Paraná na Rua Capitão Souza Franco, 848 – Cj.112 – 11º Andar,
         Condomínio Champagnat Premium – Bigorrilho, CEP: 80730-402. Contudo, considerando que nenhum sistema de segurança
         é absolutamente seguro, a WATCH BRASIL se exime de quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes
         de falhas, vírus ou invasores do banco de dados do portal, salvo no caso de dolo ou culpa da mesma.
      </p> <br>

      <p class="negative-indent"> <b>11.4.1.</b> O usuário, ao cadastrar-se no site e aplicativo móvel,
          autoriza a WATCH BRASIL o envio de correspondências eletrônicas periodicamente, para fins de informação e divulgação de seus serviços;
      </p> <br>

      <p class="negative-indent"> <b>11.4.2.</b> O usuário se responsabiliza pela precisão e veracidade
          dos dados informados e reconhece que a inconsistência destes poderá implicar a impossibilidade de acessar o site e aplicativo móvel;
      </p> <br>

      <p class="negative-indent"> <b>11.4.3.</b> O usuário assume inteira responsabilidade pela guarda,
          sigilo e boa utilização do login e senhas cadastrados, isentando a WATCH BRASIL de qualquer responsabilidade;
      </p> <br>

      <p class="negative-indent"> <b>11.4.4.</b> O login e senha só poderão ser utilizados pelo usuário cadastrado, sendo
          expressamente proibido o compartilhamento de login e/ou senha com quaisquer terceiros;
      </p> <br>

      <p class="negative-indent"> <b>11.4.5.</b> Os dados pessoais dos usuários não serão compartilhados com terceiros,
          visando preservar a privacidade destes, sendo que os dados adquiridos somente poderão ser acessados por profissionais devidamente
          autorizados pela WATCH BRASIL, respeitando a necessidade a que serão submetidos – aos objetivos do portal e aplicativo móvel e
          aos interesses dos visitantes e usuários.
      </p> <br><br>

      <p style="text-align:center"> <b>USO DE COOKIES</b></p> <br>

      <p class="negative-indent"> <b>12.1.</b> Cookies são pequenos arquivos que podem ser legalmente armazenados no seu
          equipamento quando você acessa um site. Assim, se o site acessado instalar, com sua permissão, esses cookies no seu equipamento,
          sempre que você acessar novamente o mesmo site será ativada uma memória de informações que lembra de suas preferências, personalizando
          a sua experiência e lhe proporcionando uma pesquisa e o acesso mais eficiente a informações do seu interesse.
      </p> <br>

      <p class="negative-indent"> <b>12.2.</b> O site e aplicativo móvel da WATCH BRASIL utilizam a tecnologia de
          identificação baseada em cookies. Um cookie não pode ler informações do disco rígido do seu computador. Através deles, podemos
          conhecer suas preferências e disponibilizar conteúdos personalizados para você. Estes cookies são seguros, privados,
          anônimos, não transmitem vírus e são utilizados para o benefício dos usuários e visitantes. A WATCH BRASIL não armazena
          dados de usuários em cookies.
      </p> <br>

      <p class="negative-indent"> <b>12.3.</b> Além dos cookies da Watch Brasil, temos cookies de terceiros por soluções
          integradas (ex. Google, Facebook, Akamai).
      </p> <br>

      <p class="negative-indent"> <b>12.4.</b> Em geral, os Web Browsers já são configurados de forma a permitir a criação
          de cookies. Contudo, você pode especificar se deseja ou não que o browser pergunte antes de gravar cookies de um site determinado
          no disco rígido de seu computador. Da mesma forma, você pode escolher se permite ou não que seu browser aceite cookies da WATCH BRASIL
          ou de qualquer outro site, e especificar configurações diferentes para zonas de segurança diferentes.
      </p> <br>

      <p class="negative-indent"> <b>12.5.</b> Lembrando que os cookies, após aceitos, agem como “cartão de visita” do
          usuário, ou seja, são uma forma de facilitar a sua identificação na conexão com o site e aplicativo móvel. Caso o usuário
          opte por bloquear os cookies, não será possível realizar o login no site e aplicativo móvel.
      </p> <br><br>

      <p style="text-align:center"> <b>REGISTRO DE ATIVIDADES</b></p> <br>

      <p class="negative-indent"> <b>13.1.</b> A WATCH BRASIL registrará todas as atividades efetuadas pelos visitantes
          e usuários no portal, por meio de logs, incluindo: - Ações efetuadas; - Datas e horários de cada acesso; Os referidos registros
          poderão ser utilizados pela WATCH BRASIL em casos de investigação de fraudes ou de alterações indevidas em seus sistemas e cadastros.
      </p> <br><br>

      <p style="text-align:center"> <b>VÍRUS E/OU OUTROS ELEMENTOS NOCIVOS NOS CONTEÚDOS</b></p> <br>

      <p class="negative-indent"> <b>14.1.</b> A WATCH BRASIL exime-se de responsabilidade pelos danos, prejuízos e/ou
          lucros cessantes de qualquer natureza que possam advir de vírus ou de outros elementos nocivos nos conteúdos e que, desta
          forma, possam produzir alterações e/ou danos nos equipamentos e programas dos usuários.
      </p> <br><br>

      <p style="text-align:center"> <b>CONFIABILIDADE E UTILIDADE DO PORTAL DE GERENCIAMENTO E DOS SEUS CONTEÚDOS</b></p> <br>

      <p class="negative-indent"> <b>15.1.</b> A WATCH BRASIL exime-se de responsabilidade pelos danos, prejuízos e/ou
          lucros cessantes de qualquer natureza que possam decorrer: - Da infração aos direitos de propriedade intelectual ou industrial,
          dos segredos empresariais, de compromissos contratuais de qualquer tipo, dos direitos à honra, à intimidade pessoal e familiar
          e à imagem das pessoas, dos direitos de propriedade e de toda e qualquer natureza pertencentes a um terceiro como consequência
          da transmissão, difusão, armazenamento, disponibilização, recepção, obtenção ou acesso ao site, aplicativo móvel ou aos seus
          conteúdos; - Da transmissão, difusão, armazenamento, disponibilização, recepção, obtenção ou acesso aos conteúdos, e em
          particular, ainda que não de modo exclusivo, pelos danos, prejuízos e/ou lucros cessantes que possam decorrer do descumprimento
          da lei, da moral e dos bons costumes geralmente aceitos ou a ordem pública como consequência da transmissão, difusão, armazenamento,
          disponibilização, recepção, obtenção ou acesso ao site, aplicativo móvel ou aos conteúdos; - Da inadequação para qualquer tipo de
          propósito ou da frustração das expectativas geradas pelo site, aplicativo móvel, ou seus conteúdos; - Da falta de precisão, extinção,
          pertinência e/ou atualidade do site ou dos seus conteúdos; - Da realização de atos de concorrência desleal e publicidade ilícita em
          decorrência da transmissão, difusão, armazenamento, disponibilização, recepção, obtenção ou acesso ao site, aplicativo móvel ou aos
          conteúdos.
      </p> <br><br>

      <p style="text-align:center"> <b>UTILIZAÇÃO DO SITE, APLICATIVO MÓVEL, DOS CONTEÚDOS PELOS CONTRATANTES E INFORMAÇÕES <br>
              SOBRE ATENDIMENTO AO CLIENTE</b></p> <br>

      <p class="negative-indent"> <b>16.1.</b> A WATCH BRASIL não garante que os usuários e visitantes usem suas
          plataformas e os conteúdos em conformidade com a lei, com estes Termos de Uso e Privacidade respeitando a aplicação da
          moral e dos bons costumes geralmente aceitos pela ordem pública.
      </p> <br>

      <p class="negative-indent"> <b>16.2.</b> A WATCH BRASIL também não possui a obrigação de verificar a identidade
         dos usuários, nem a veracidade, vigência, extensão e/ou autenticidade dos dados e informações que eles proporcionem sobre
         si mesmos a outros usuários.
      </p> <br>

      <p class="negative-indent"> <b>16.3.</b> Portanto, a WATCH BRASIL exime-se de responsabilidade pelos danos,
          prejuízos e/ou lucros cessantes de qualquer natureza que possam advir da utilização dos serviços e dos conteúdos ou que
          possam dever-se à falta de veracidade, vigência, extensão e/ou autenticidade da informação que os usuários proporcionem
          a outros usuários sobre si mesmos.
      </p> <br>

      <p class="negative-indent"> <b>16.4.</b> Enviaremos informações relacionadas à sua conta (por exemplo, autorizações
          de pagamento, cobranças, alterações de senha ou Forma de Pagamento, mensagens de confirmação, notificações) somente em formato
          eletrônico como, por exemplo, por meio de e-mails para o endereço fornecido durante a inscrição.
      </p> <br>

      <p class="negative-indent"> <b>16.5.</b> Caso queira mais informações sobre o serviço WATCH BRASIL, suas funcionalidades
          e recursos, ou caso precise de ajuda com sua conta, por favor, acesse o Centro de ajuda no site eletrônico  <a (click)="goTo()"> <b> <u>
            https://watch.tv.br/ </u> </b> </a>.
      </p> <br>

      <p class="negative-indent"> <b>16.6.</b> Se você não quiser que tenhamos esse acesso, você não deve fornecer seu
          consentimento para o uso da ferramenta de suporte por acesso remoto.
      </p> <br>

      <p class="negative-indent"> <b>16.7.</b> A WATCH BRASIL ajudará você de outras formas. No caso de quaisquer conflitos
          entre estes Termos de uso e informações fornecidas pelo atendimento ao cliente ou outras partes dos nossos sites, estes
          Termos de uso prevalecerão
      </p> <br><br>

      <p style="text-align:center"> <b>DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL DO PORTAL</b></p> <br>

      <p class="negative-indent"> <b>17.1.</b> O uso comercial das expressões da WATCH BRASIL, como marca, nome
          empresarial ou nome de domínio, além dos conteúdos das telas do portal, assim como os programas, conteúdos digitais,
          bancos de dados, redes, arquivos que permitem que o usuário acesse sua conta são de propriedade da WATCH TV ENTRETENIMENTOS S/A,
          pessoa jurídica de direito privado, inscrita no CNPJ nº 24.817.685/0001-21, com sede e foro na cidade de Curitiba, Estado
          do Paraná na Rua Capitão Souza Franco, 848 – Cj.112 – 11º Andar, Condomínio Champagnat Premium – Bigorrilho, CEP: 80730-402,
          e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas e patentes, modelos e desenhos industriais.
      </p> <br>

      <p class="negative-indent"> <b>17.2.</b> A WATCH BRASIL não concede tacitamente nenhuma licença ou autorização
          de uso de nenhum tipo sobre seus direitos de propriedade industrial e intelectual, segredos empresariais ou sobre qualquer
          outra propriedade ou direito relacionado com o site, aplicativo móvel ou seus conteúdos.
      </p> <br>

      <p class="negative-indent"> <b>17.3.</b> A reprodução dos conteúdos descritos anteriormente está proibida, salvo
          com prévia autorização por escrito da WATCH BRASIL ou se destinarem a uso exclusivamente pessoal e sem que em nenhuma
          circunstância os visitantes e usuários adquiram qualquer direito sobre os mesmos.
      </p> <br><br>

      <p style="text-align:center"> <b>RECUSA E RETIRADA DO ACESSO AO SITE E/OU AOS SEUS CONTEÚDOS</b></p> <br>

      <p class="negative-indent"> <b>18.1.</b> A WATCH BRASIL reserva-se o direito de recusar ou retirar o acesso ao
          site, aplicativo móvel e/ou aos seus conteúdos, a qualquer momento e sem necessidade de prévio aviso, por iniciativa própria
          ou por exigência de um terceiro, daqueles usuários que descumpram estes Termos de Uso e Privacidade ou que, de alguma forma,
          executem ações que resultem ou possam resultar em atividades ilegais.
      </p> <br><br>

      <p style="text-align:center"> <b>DURAÇÃO E FINALIZAÇÃO</b></p> <br>

      <p class="negative-indent"> <b>19.1.</b> A WATCH BRASIL se reserva no direito de alterar esse termo para
          adaptá-lo à legislação aplicável ou às boas práticas comerciais de uso da internet. A qualquer momento, poderemos
          ceder ou transferir o nosso contrato com você, inclusive nossos direitos e obrigações associados. Você concorda em
          cooperar com a WATCH TV nessas cessões ou transferências.
      </p> <br><br>

      <p style="text-align:center"> <b>ACEITE</b></p> <br>

      <p class="negative-indent"> <b>20.1.</b> Ao acessar o site ou aplicativo móvel da WATCH BRASIL e clicar
          no campo “Li e aceito os Termos e Condições de Uso e Política de Privacidade” os usuários, expressamente e sem ressalvas
          concordam com todos os referidos termos e condições, inclusive com o recebimento no seu e-mail contendo mensagens
          promocionais da WATCH BRASIL e seus parceiros.
      </p> <br><br>

      <p style="text-align:center"> <b>LEI APLICÁVEL E FORO</b></p> <br>

      <p class="negative-indent"> <b>21.1.</b> Estes Termos de Uso são regidos pelas leis brasileiras vigentes.
          A WATCH BRASIL e o usuário, com renúncia expressa a qualquer outro foro, se submetem ao Foro de Curitiba/PR.
      </p> <br>
  </div>
</div>
